@charset "UTF-8";
/****************************************/
/*	Name: KBDS PMS
/*	Version: 1.0
/*	Author: [써냐]BLUEWEBD™
/****************************************/
/****************************************/
/*	PART: IMPORT CSS
/****************************************/
/* flag */
:root {
  --space-4xs: .4rem;
  --space-3xs: .9rem;
  --space-2xs: 1rem;
  --space-xs: 1.1rem;
  --space-sm: 1.2rem;
  --space-ms: 1.3rem;
  --space-md: 1.4rem;
  --space-mx: 1.8rem;
  --space-lg: 2.0rem;
  --space-xl: 2.4rem;
  --space-2xl: 2.8rem;
  --space-3xl: 3.0rem;
  --space-4xl: 4.8rem;
  --section: 37.5rem ;
}

/****************************************/
/*	PART: RESET CSS
/****************************************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
} /* rem default 10px */
body {
  background: #fff;
  width: 100%;
  overflow-x: hidden;
  /* 뷰표트 변환시 폰트크기 자동확대 방지. */
  -webkit-text-size-adjust: none;
  font-size: var(--space-ms);
  word-break: keep-all;
}

@media screen and (max-width: 1260px) {
  body {
    overflow-x: auto;
  }
}
/* HTML, body 높이값 100% 고정 */
html, body {
  height: 100%;
  height: 100vh;
  min-height: 100vh;
}

body, div, dl, dt, dd, ul, ol, li, hgroup, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset,
legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0 none;
}

dl, ul, ol, menu, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

address, caption, cite, code, dfn, em, var, i, b {
  font-style: normal;
  font-weight: 400;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

input, select, textarea, button {
  vertical-align: middle;
  font-size: 100%;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
} /* 포커스 라인 비활성처리*/
table {
  background-color: transparent;
  border-spacing: 0;
}

input,
textarea,
select {
  background-color: transparent;
}

input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

input[type=text], input[type=password], input[type=submit],
input[type=search], input[type=tel], input[type=email] {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 
select {appearance:none; -webkit-appearance:none; -moz-appearance:none; border-radius:0; ; -webkit-border-radius:0 ; -moz-border-radius:0 ; -ms-border-radius:0 ; -o-border-radius:0 ; border-color: #ccc; text-indent: 10px;  background:url(../../img/ico_selarrow.png) 100% 50% no-repeat; background-size:auto calc(1.8rem/3);}
*/
select::-ms-expand {
  display: none;
} /* IE9 이상 select 화살표 삭제 */
/* select {border-radius:0; ; -webkit-border-radius:0 ; -moz-border-radius:0 ; -ms-border-radius:0 ; -o-border-radius:0 ; border-color: #ccc; text-indent: 10px; } */
body, th, td, input, select, textarea, button {
  font-size: 1.4rem;
  font-family: "KBFG Display", "NotoSansKR", "Malgun Gothic", "Dotum", Arial, sans-serif;
  font-weight: 400;
  color: #333;
  letter-spacing: -0.5px;
}

input[type=text]:-moz-read-only, input[type=password]:-moz-read-only {
  background: #f6f6f6;
}

input[type=text]:read-only, input[type=password]:read-only,
input[type=text]:disabled, input[type=password]:disabled {
  background: #f6f6f6;
}

strong {
  font-family: "NotoSansKR";
  font-weight: 400;
}

b {
  font-family: "NotoSansKR";
  font-weight: 600;
}

a {
  display: inline-block;
  color: #333;
  text-decoration: none; /*outline:transparent;*/
}

a:active, a:hover {
  text-decoration: none;
}

legend, caption {
  position: absolute !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  clip: rect(1px 1px 1px 1px);
}

.hr {
  display: none;
  visibility: hidden;
}

/****************************************/
/*	PART: BASIC CSS
/****************************************/
.hide {
  position: absolute !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  clip: rect(1px 1px 1px 1px);
}

.blind {
  position: absolute !important;
  overflow: hidden !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  display: block !important;
  font-size: 1px !important;
  z-index: -1;
}

.screen {
  position: absolute !important;
  overflow: hidden !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  font-size: 1px;
  text-indent: -9999px;
}

.full {
  width: 100% !important;
}

/* ALIGN */
.alL, .l {
  text-align: left !important;
}

.alC, .c {
  text-align: center !important;
}

.alR, .r {
  text-align: right !important;
}

.vm {
  vertical-align: middle !important;
}

.vt {
  vertical-align: top !important;
}

.vb {
  vertical-align: bottom !important;
}

.posR {
  position: relative;
}

.posA {
  position: absolute;
}

.block {
  display: block !important;
}

.inBlock {
  display: inline-block !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scrollY {
  overflow-y: scroll;
}

.scrollX {
  overflow-x: scroll;
}

.underline {
  text-decoration: underline;
}
.underline:active, .underline:hover {
  text-decoration: underline;
}

.bold {
  font-family: "KBFG Display", "NotoSansKR", "Malgun Gothic", "Dotum", Arial, sans-serif;
  font-weight: 600;
}

.fs-md {
  font-size: 1.6rem !important;
}

.fs-s {
  font-size: 1.3rem !important;
}

.fs-xs {
  font-size: 1.2rem !important;
}

.fs-xxs {
  font-size: 0.9rem !important;
}

.wb-txt {
  word-break: break-all;
}

.asterisk {
  position: relative;
  font-size: 1.4rem;
  color: #e93c79;
  font-weight: normal;
  padding-left: 1rem;
}
.asterisk:before {
  content: "*";
  display: inline-block;
  position: absolute;
  top: 0.4rem;
  left: 0rem;
  margin-right: 2px;
}

.uline {
  display: inline-block;
}
.uline::after {
  content: "";
  display: block;
  background: #fc0;
  height: 1rem;
  margin-top: -1rem;
}

/* SKIP */
.skipMenu {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;
}
.skipMenu a {
  display: block;
  font-size: 1;
  height: 1px;
  width: 0px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  line-height: 0;
  text-align: center;
}
.skipMenu a:focus, .skipMenu a:hover, .skipMenu a:active {
  width: auto;
  height: 2.8rem;
  margin: 0;
  padding: 0.8rem 0;
  background: #333;
  font-size: 1.4rem;
  line-height: 1.2rem;
  color: #fff;
  z-index: 15;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btnWrap.split.col2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.btnWrap.split.col2 > * {
  margin: 0;
  width: calc(50% - 0.4rem);
}
.btnWrap.split.col2 .full {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
.btnWrap.full > .btn {
  width: 100%;
  margin: 0;
  margin-bottom: 0 !important;
}
.btnWrap.full > .btn ~ .btn {
  margin-bottom: 0 !important;
  margin-top: 1rem;
}
.btnWrap.grow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.btnWrap.grow > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: block;
}
.btnWrap.grow > .full {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.btnWrap.grow.full > .btn {
  margin: 0;
}
.btnWrap.grow.full > .btn ~ .btn {
  margin: 0;
}
.btnWrap.grow.full > .btn:first-child {
  border-radius: 0.3rem 0 0 0.3rem;
}
.btnWrap.grow.full > .btn + .btnWrap.grow.full > .btn {
  border-radius: 0;
}
.btnWrap.grow.full > .btn:last-child {
  border-radius: 0 0.3rem 0.3rem 0;
}
.btnWrap.grow.full > .btn:focus {
  z-index: -1;
}

.btn {
  padding: 0.5rem 1rem;
  vertical-align: middle;
}
.btn ~ .btn {
  margin-left: 0.5rem;
}
.btn-size.xs {
  padding: 0.3rem 0.7rem;
  font-size: 0.9rem;
}
.btn-size.s {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.btn-size.md {
  padding: 1rem 1rem;
  font-size: 1.4rem;
}
.btn-size.lg {
  padding: 1.2rem 1.5rem;
  font-size: 1.6rem;
}
.btn-size.xl {
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
}
.btn.bg {
  border-radius: 0.3rem;
  border: 1px #333 solid;
  background: #333;
  color: #fff;
}
.btn.bg:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 2px 5px 0.2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 2px 5px 0.2rem rgba(0, 0, 0, 0.15);
}
.btn.bg[aria-disabled=disabled], .btn.bg[disabled], .btn.bg.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn.bg[aria-disabled=disabled]:hover, .btn.bg[aria-disabled=disabled]:focus, .btn.bg[disabled]:hover, .btn.bg[disabled]:focus, .btn.bg.disabled:hover, .btn.bg.disabled:focus {
  opacity: 0.5;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn.bg:not(.disabled):not([disabled]):not([aria-disabled=disabled]):hover {
  background: #999;
  border-color: #999;
  color: #242424;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.btn.bg:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus, .btn.bg.is-active {
  background: #999;
  border-color: #999;
  color: #242424;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.btn.bg[aria-disabled=disabled], .btn.bg[disabled], .btn.bg.disabled {
  opacity: 0.5;
  color: #eee;
}
.btn.bg.type2 {
  background: #8b4bdf;
  border-color: #8b4bdf;
  color: #fff;
}
.btn.bg.type2:not(.disabled):not([disabled]):not([aria-disabled=disabled]):hover {
  color: #fff;
  background: #8b4bdf;
  border-color: #8b4bdf;
}
.btn.bg.type2:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus, .btn.bg.type2.is-active {
  color: #fff;
  background: #8b4bdf;
  border-color: #8b4bdf;
}
.btn.bg.type2[aria-disabled=disabled], .btn.bg.type2.disabled {
  color: #fff;
}
.btn.bg.type2[aria-disabled=disabled]:hover, .btn.bg.type2[aria-disabled=disabled]:focus, .btn.bg.type2.disabled:hover, .btn.bg.type2.disabled:focus {
  background: #8b4bdf;
  color: #fff;
  border-color: #8b4bdf;
}
.btn.bg.type3 {
  background: #4b90df;
  border-color: #4b90df;
  color: #fff;
}
.btn.bg.type3:not(.disabled):not([disabled]):not([aria-disabled=disabled]):hover {
  color: #fff;
  background: #4b90df;
  border-color: #4b90df;
}
.btn.bg.type3:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus, .btn.bg.type3.is-active {
  color: #fff;
  background: #4b90df;
  border-color: #4b90df;
}
.btn.bg.type3[aria-disabled=disabled], .btn.bg.type3.disabled {
  color: #fff;
}
.btn.bg.type3[aria-disabled=disabled]:hover, .btn.bg.type3[aria-disabled=disabled]:focus, .btn.bg.type3.disabled:hover, .btn.bg.type3.disabled:focus {
  background: #4b90df;
  color: #fff;
  border-color: #4b90df;
}
.btn-line, .btn.line {
  border-radius: 0.3rem;
  border: 1px #242424 solid;
  color: #242424;
  background: #fff;
}
.btn-line:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus, .btn.line:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 2px 5px 0.2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 2px 5px 0.2rem rgba(0, 0, 0, 0.15);
}
.btn-line[aria-disabled=disabled], .btn-line[disabled], .btn-line.disabled, .btn.line[aria-disabled=disabled], .btn.line[disabled], .btn.line.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn-line[aria-disabled=disabled]:hover, .btn-line[aria-disabled=disabled]:focus, .btn-line[disabled]:hover, .btn-line[disabled]:focus, .btn-line.disabled:hover, .btn-line.disabled:focus, .btn.line[aria-disabled=disabled]:hover, .btn.line[aria-disabled=disabled]:focus, .btn.line[disabled]:hover, .btn.line[disabled]:focus, .btn.line.disabled:hover, .btn.line.disabled:focus {
  opacity: 0.5;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-line:not(.disabled):not([disabled]):not([aria-disabled=disabled]):hover, .btn.line:not(.disabled):not([disabled]):not([aria-disabled=disabled]):hover {
  background: #666;
  color: #fff;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.btn-line:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus, .btn-line.is-active, .btn.line:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus, .btn.line.is-active {
  background: #666;
  border-color: #999;
  color: #fff;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.btn-line[aria-disabled=disabled], .btn-line[disabled], .btn-line.disabled, .btn.line[aria-disabled=disabled], .btn.line[disabled], .btn.line.disabled {
  opacity: 0.5;
  background: #fff;
  border-color: #242424;
  color: #242424;
}
.btn.round {
  border-radius: 0.3rem;
  border: 1px #333 solid;
  background: #333;
  color: #fff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 10rem;
}
.btn.round:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 2px 5px 0.2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 2px 5px 0.2rem rgba(0, 0, 0, 0.15);
}
.btn.round[aria-disabled=disabled], .btn.round[disabled], .btn.round.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn.round[aria-disabled=disabled]:hover, .btn.round[aria-disabled=disabled]:focus, .btn.round[disabled]:hover, .btn.round[disabled]:focus, .btn.round.disabled:hover, .btn.round.disabled:focus {
  opacity: 0.5;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn.round:not(.disabled):not([disabled]):not([aria-disabled=disabled]):hover {
  background: #999;
  border-color: #999;
  color: #242424;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.btn.round:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus, .btn.round.is-active {
  background: #999;
  border-color: #999;
  color: #242424;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.btn.round[aria-disabled=disabled], .btn.round[disabled], .btn.round.disabled {
  opacity: 0.5;
  color: #eee;
}
.btn.round.lg {
  padding: 1.2rem 2rem;
  font-size: 1.6rem;
}
.btn.round.xl {
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
}
.btn.shadow {
  border-radius: 0.3rem;
  border: 1px #333 solid;
  background: #333;
  color: #fff;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.btn.shadow:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 2px 5px 0.2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 2px 5px 0.2rem rgba(0, 0, 0, 0.15);
}
.btn.shadow[aria-disabled=disabled], .btn.shadow[disabled], .btn.shadow.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn.shadow[aria-disabled=disabled]:hover, .btn.shadow[aria-disabled=disabled]:focus, .btn.shadow[disabled]:hover, .btn.shadow[disabled]:focus, .btn.shadow.disabled:hover, .btn.shadow.disabled:focus {
  opacity: 0.5;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn.shadow:not(.disabled):not([disabled]):not([aria-disabled=disabled]):hover {
  background: #999;
  border-color: #999;
  color: #242424;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.btn.shadow:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus, .btn.shadow.is-active {
  background: #999;
  border-color: #999;
  color: #242424;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.btn.shadow[aria-disabled=disabled], .btn.shadow[disabled], .btn.shadow.disabled {
  opacity: 0.5;
  color: #eee;
}
.btn.shadow:not(.disabled):not([disabled]):not([aria-disabled=disabled]):hover, .btn.shadow:not(.disabled):not([disabled]):not([aria-disabled=disabled]):focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}
.btn.shadow[aria-disabled=disabled], .btn.shadow[disabled], .btn.shadow.disabled {
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.btn.grow {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.btn.txt {
  padding: 0;
  position: relative;
  -webkit-transition: 0.5s color ease;
  transition: 0.5s color ease;
  display: inline-block;
}
.btn.txt ~ .btn.txt {
  margin-top: 0;
}
.btn.txt::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.2rem;
  background: #fc0;
  width: 0;
}
.btn.txt:hover {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #4bdf7c;
}
.btn.txt:hover::after {
  content: "";
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  height: 0.7rem;
  width: 100%;
  background: #4bdf7c;
  opacity: 0.7;
  z-index: -1;
}
.btn.txt.uline {
  padding: 0 0.2rem 0;
  /*
  @include el-content(after){
      margin:0;
      width:100%; height:.1rem;
      background:$color-gray1;
      position:absolute; left:0; bottom:0;
  }
  */
}
.btn.txt.uline::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: #999;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.btn.txt.uline:hover, .btn.txt.uline:focus {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #242424;
}
.btn.txt.uline:hover::before, .btn.txt.uline:focus::before {
  content: "";
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  width: 0;
  opacity: 0;
}
.btn.txt.uline::after {
  content: "";
  display: block;
  width: 0;
  height: 0.2rem;
}
.btn.txt.uline:hover, .btn.txt.uline:focus {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #242424;
}
.btn.txt.uline:hover::after, .btn.txt.uline:focus::after {
  content: "";
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: #8b4bdf;
  width: 100%;
  height: 0.2rem;
}
.btn.ico {
  position: relative;
}
.btn.ico.arrow {
  padding: 0 1.5rem 0 0.5rem;
}
.btn.ico.arrow::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  width: 0.6rem;
  height: 0.6rem;
  margin-top: -0.25rem;
  border-left: 1px #242424 solid;
  border-bottom: 1px #242424 solid;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.btn.ico.arrow:hover::before, .btn.ico.arrow:focus::before {
  content: "";
  display: block;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border-color: #e93c79;
}
.btn.ico::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -0.2rem;
  width: 0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.btn.ico:hover, .btn.ico:focus {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #242424;
}
.btn.ico:hover::after, .btn.ico:focus::after {
  content: "";
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background: #e93c79;
  width: 100%;
  height: 0.1rem;
}
.btn.full {
  margin: 0;
  margin-bottom: 0 !important;
}
.btn.full ~ .full {
  margin-top: 1rem;
}

.tab-list-wrap {
  overflow-x: auto;
  position: relative;
  width: 100%;
  margin: 1.5rem auto;
  border: 0.1rem solid #e6e6e6;
  border-width: 0 0 0.1rem 0;
  white-space: nowrap;
}
.tab-list-wrap.tab-expand .tab-list {
  width: 100%;
}
.tab-list-wrap.tab-expand .tab-list .tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.tab-list-wrap.tab-center .tab-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab-list-wrap.tab-right .tab-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab-list-wrap.tab-line-top {
  border-width: 0.1rem 0 0 0;
}
.tab-list-wrap.tab-line-top::before {
  bottom: auto;
  top: 0;
}
.tab-list-wrap.tab-line-top .tab a::before {
  top: 0;
  bottom: auto;
}
.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.tab-list .tab {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: relative;
  color: #999;
  text-align: center !important;
  -webkit-transition: 0.5s color ease-in-out;
  transition: 0.5s color ease-in-out;
}
.tab-list .tab ~ .tab {
  margin-left: 2rem;
}
.tab-list .tab a {
  display: block;
  padding: 1rem;
}
.tab-list .tab:hover a {
  color: #4b90df;
}
.tab-list .tab._is-active a {
  color: #4b90df;
}
.tab-list .tab._is-active a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0.2rem;
  background-color: #4b90df;
  -webkit-animation: widthAct 0.3s linear forwards;
          animation: widthAct 0.3s linear forwards;
}
.tab-list > li._addTab > a {
  position: relative;
  width: 2rem;
  height: 2rem;
  background: #4b90df;
  border-radius: 100%;
}
.tab-list > li._addTab > a::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 0.1rem);
  left: calc(50% - 0.5rem);
  width: 1rem;
  height: 0.2rem;
  background: #fff;
}
.tab-list > li._addTab > a::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 0.1rem);
  left: calc(50% - 0.5rem);
  width: 1rem;
  height: 0.2rem;
  background: #fff;
}
.tab-list > li._addTab > a::after {
  content: "";
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.tab-wrap {
  position: relative;
}
.tab-wrap.tab-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.tab-wrap.tab-vertical .tab-list-wrap {
  overflow-x: visible;
  overflow-y: auto;
  width: auto;
  margin: 0;
  border-width: 0 0.1rem 0.1rem 0;
}
.tab-wrap.tab-vertical .tab-list-wrap::before {
  display: none;
}
.tab-wrap.tab-vertical .tab-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 9rem;
  height: 30rem;
  margin-left: 0;
}
.tab-wrap.tab-vertical .tab-list .tab ~ .tab {
  margin-left: 0;
}
.tab-wrap.tab-vertical .tab-contents-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 30rem;
}
.tab-wrap.tab-vertical .tab-contents {
  overflow: auto;
  height: 100%;
}
.tab-wrap.tab-scroll .tab-contents-wrap, .tab-wrap.tab-scroll-height .tab-contents-wrap {
  overflow-y: scroll;
  position: relative;
  height: 20rem;
}
.tab-wrap.tab-moving .tab-list-wrap.tab-line-top .highlight {
  bottom: auto;
  top: 0;
}
.tab-wrap.tab-moving .tab-list-wrap .tab::before {
  display: none;
}
.tab-wrap.tab-moving .tab-list-wrap .highlight {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6.4rem;
  height: 0.2rem;
  background-color: #4b90df;
  -webkit-transition: 0.2s all cubic-bezier(0, 0, 0.58, 1);
  transition: 0.2s all cubic-bezier(0, 0, 0.58, 1);
}
.tab-wrap.tab-moving .tab-list-wrap ._is-active > a::before {
  content: inherit;
}
.tab-wrap.tab-moving.tab-vertical .highlight {
  bottom: auto;
  left: auto;
  right: 0;
  width: 0.2rem;
  height: 4rem;
}
.tab-wrap:not(.tab-scroll, .tab-sticky) .tab-contents {
  display: none;
}
.tab-wrap:not(.tab-scroll, .tab-sticky) .tab-contents._is-active {
  display: block;
}
.tab-contents-wrap {
  border: 0.1rem solid #4b90df;
}
.tab-contents {
  padding: 0 2rem 2rem;
  min-height: 20rem;
}
.tab-contents:nth-child(even) {
  background: #eee;
}
.tab-sticky .tab-list-wrap {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}
.tab-sticky .tab-contents-wrap {
  border: none;
}
@-webkit-keyframes widthAct {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes widthAct {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
.aos_old .tab-sticky .tab-list-wrap {
  position: relative;
}

.lst-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}
.lst-goods > li {
  width: calc(50% - 1rem);
}

.goodsWrap .item {
  padding: 0.3rem 0;
}
.goodsWrap .item.brand {
  font-size: var(--space-xs);
}
.goodsWrap .item.name {
  font-weight: bold;
}
.goodsWrap .item.price {
  font-size: var(--space-xs);
}
.goods-category {
  font-size: var(--space-mx);
  font-weight: bold;
  margin: 1rem 0;
}
.goods-img {
  background: #ddd;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.label.point {
  font-size: var(--space-3xs);
  background: #eee;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
}

.modalPop._bottom > .modalWrap, .modalPop._left > .modalWrap, .modalPop._top > .modalWrap {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.no-scroll {
  overflow: hidden;
}

.modalPop {
  display: none;
  position: fixed;
  left: 0;
  z-index: 9995;
  width: 100%;
  height: 100%;
}
.modalPop._top {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  margin: auto;
}
.modalPop._top > .modalWrap {
  border-radius: 0 0 1rem 1rem;
}
.modalPop._left {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  margin: auto;
}
.modalPop._left > .modalWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.modalPop._left > .modalWrap .modal-header, .modalPop._left > .modalWrap .modal-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.modalPop._left > .modalWrap .modal-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}
.modalPop._left._scroll .modal-container {
  overflow-y: auto;
}
.modalPop._center {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
}
.modalPop._center._scroll .modal-container {
  overflow-y: auto;
  max-height: 80%;
}
.modalPop._center > .modalWrap {
  min-height: 30%;
  border-radius: 1rem;
}
.modalPop._bottom {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  margin: auto;
}
.modalPop._bottom._scroll .modal-container {
  overflow-y: auto;
  max-height: 80%;
}
.modalPop._bottom > .modalWrap {
  border-radius: 1rem 1rem 0 0;
}
.modalPop .modalWrap {
  background-color: #fff;
  border: 0.1rem solid #666;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modalPop .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.modalPop .modal-header .mp-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.modalPop .modal-header .mp-title.dep01 {
  font-size: var(--space-mx);
  font-weight: bold;
}
.modalPop .modal-container {
  font-size: var(--space-md);
  line-height: 1.5;
  margin-bottom: 2rem;
}
.modalPop .modal-footer {
  text-align: right;
}
.modalPop .modal-footer .btnWrap {
  margin: 0;
}
.modalPop._is-active {
  display: block;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9990;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}

.toastWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 2%;
  left: 0;
  margin: 1rem;
  width: calc(100% - 2rem);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}
.toastWrap > a {
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  opacity: 0;
}
.toastWrap > a::before {
  content: "";
  display: block;
  width: 0.1rem;
  height: 2.4rem;
  background-image: svgIcon(ico_close, fff);
}
.toastWrap > a._is-active {
  opacity: 1;
}
.toastWrap > a._is-active::before {
  content: "";
  display: block;
  width: 2.4rem;
}
.toast-msg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 5rem 1rem 5rem;
  color: #fff;
  text-align: center;
}

.btnWrap {
  margin: 1rem;
}
.btn-modal {
  background: #333;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.3rem;
}
.btn-modal ~ .btn-modal {
  margin-left: 0.5rem;
}
.btn-modal:hover {
  background: #0048ff;
}

.tooltip {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 1;
  padding: 1rem;
  background: #fff;
  border: 0.1rem solid #666;
  -webkit-transition: opacity 0.25s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 0.25s cubic-bezier(0.86, 0, 0.07, 1);
}
.tooltipWrap {
  position: relative;
}
.tooltipWrap.r .tooltip {
  text-align: left;
}
.tooltip._right, .tooltip._left {
  max-width: 60%;
}
.tooltip._top, .tooltip._bottom {
  max-width: calc(100% - 20px);
}
.tooltip-content {
  position: relative;
  margin-right: 2rem;
}
.tooltip-content .ico-tooltip-close {
  position: absolute;
  top: 0;
  right: -2rem;
}
.tooltip._is-active {
  display: block;
  opacity: 1;
}

.reverse.ico-tooltip._is-active._left::before, .ico-tooltip._is-active._default::before {
  content: "";
  display: block;
  top: 0.6rem;
  left: auto;
  right: -1.7rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.reverse.ico-tooltip._is-active._default::before, .ico-tooltip._is-active._left::before {
  content: "";
  display: block;
  top: 0.6rem;
  left: -1.7rem;
  right: auto;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.ico-tooltip::before {
  content: "";
  display: block;
  opacity: 0;
}
.ico-tooltip._is-active {
  position: relative;
}
.ico-tooltip._is-active::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 5;
  width: 1rem;
  height: 1rem;
  opacity: 1;
  background: #fff;
  -webkit-box-shadow: 1px 1px 0 0 #666;
          box-shadow: 1px 1px 0 0 #666;
}
.ico-tooltip._is-active._top::before {
  content: "";
  display: block;
  top: -1.7rem;
  left: 0.4rem;
  right: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: opacity 0.25s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 0.25s cubic-bezier(0.86, 0, 0.07, 1);
}
.ico-tooltip._is-active._bottom::before {
  content: "";
  display: block;
  bottom: -1.7rem;
  left: 0.4rem;
  right: auto;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.module-add-box {
  position: fixed;
  bottom: 10%;
  left: auto;
  right: 2%;
  z-index: 1000;
  min-width: 15rem;
  background: #333;
}

.btnWrap {
  padding: 0.5rem;
}
.btnWrap > a {
  display: block;
  padding: 0.5rem 1rem;
  color: #ddd;
  text-decoration: none;
  background: #666;
  border: 1px solid #999;
  font-size: var(--space-ms);
  border-radius: 0.3rem;
}
.btnWrap > a ~ a {
  margin-top: 0.5rem;
}
.btnWrap > a:hover {
  color: #242424;
  font-weight: bold;
  background: #fff;
}

.container .option-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  height: 100vh;
  padding: 2rem;
  border: 1px solid #999;
}
.container .option-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}
.container .option-box h3 {
  display: inline-block;
  min-width: 7rem;
  margin-right: 1rem;
  vertical-align: top;
}
.container .section {
  border: 1px solid #ccc;
  max-width: var(--section);
  margin: 2rem auto;
  background: #ddd;
}
.container .section [data-type=goods] .swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .section .md {
  position: relative;
  outline: 3px dashed transparent;
  background: #fff;
  min-height: 10rem;
  cursor: pointer;
  /*       .alert {
          display: none;
          padding: 0.75rem 1.25rem;
          border-radius: 0.25rem;
          background-color: #fff3cd;
          font-size: 1rem;
          color: #856404;
        } */
}
.container .section .md ~ .md {
  margin-top: 1.5rem;
}
.container .section .md:hover {
  outline-color: #e93c79;
}
.container .section .md:hover .module-option {
  display: block;
  position: absolute;
  top: 0;
  left: -5rem;
  z-index: 2;
  padding: 1rem;
  background: #fff;
  border: 1px dashed #000;
}
.container .section .md:hover .deleteBtn, .container .section .md:hover .dragBtn, .container .section .md:hover .optionBtn {
  display: block;
}
.container .section .md .txtEdit {
  position: relative;
  padding: 2.4rem;
  font-size: 1.4rem;
  color: #000;
}
.container .section .md .txtEdit h1 {
  font-size: 2.8rem;
  font-weight: normal;
}
.container .section .md .txtEdit > *:not(:first-child) {
  margin-top: 1rem;
  font-weight: normal;
}
.container .section .md .txtEdit .fontBold {
  font-weight: 700;
}
.container .section .md [contenteditable=true] {
  position: relative;
  cursor: text;
  outline: 0;
}
.container .section .md .box-pd {
  padding: 0 2.4rem 2.4rem;
}
.container .section .md .swiper-slide .txtEdit {
  padding: 1.2rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.container .section .md .swiper-slide .swiper-box {
  text-align: center;
}
.container .section .md .swiper-slide .swiper-box img {
  max-width: 30rem;
  width: 100%;
}

.btn.swiperAddBtn {
  position: absolute;
  top: calc(50% - 2.5rem);
  right: -2.5rem;
  z-index: 2;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background: #fff;
  color: #666;
}
.btn.optionBtn {
  display: none;
  margin-top: 1.5rem;
}
.btn.deleteBtn {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  z-index: 2;
  margin: 0;
  display: none;
}
.btn.dragBtn {
  position: absolute;
  top: 2.1rem;
  right: -0.5rem;
  z-index: 2;
  padding: 0.85rem 1.15rem;
  background: #8b4bdf;
  border-color: #8b4bdf;
  margin: 0;
  display: none;
}

/*상품추가 모달팝업*/
.modalWrap .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.modalWrap .product-list > li {
  width: calc((100% - 20px) / 3);
}
.modalWrap .product-list .swiper-slide {
  display: block;
}
.modalWrap .product-list .swiper-slide img {
  width: 20rem;
}

.imgWrap img {
  display: block;
  width: 100%;
}

.img-container {
  text-align: center;
}
.img-container img {
  width: 100%;
}

.no-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16.3rem;
  background: #f3f4f6;
  text-align: center;
}
.no-img::before {
  content: "";
  display: block;
  /* background:svgIconForm(no-img, 666); */
  background: url("https://cdn.icon-icons.com/icons2/197/PNG/96/image_24009.png") no-repeat center/cover;
  width: 3.2rem;
  height: 3.2rem;
  opacity: 0.2;
}
.no-img::after {
  content: "";
  display: block;
  content: "이미지 영역";
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #d2d5da;
}

.videoWrap.no-video {
  padding: 4.8rem 2.4rem 3.6rem;
  background: #f3f4f6;
  color: #d2d5da;
  text-align: center;
}
.videoWrap.no-video::before {
  content: "";
  display: block;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d2d5da'  viewBox='0 0 16 16'%3E%3Cpath d='M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0'/%3E%3Cpath d='M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6'/%3E%3Cpath d='M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z'/%3E%3C/svg%3E") no-repeat;
  width: 3.5rem;
  height: 3.5rem;
  margin: auto;
}
.videoWrap.no-video::after {
  content: "";
  display: block;
  content: "영상을 등록해주세요";
  font-weight: 700;
  margin-top: 2rem;
}
.videoWrap video, .videoWrap iframe {
  width: 100%;
  height: 100%;
}
.videoWrap + .btnWrap {
  margin: 0;
  padding: 2.4rem;
  text-align: center !important;
}

/* 모달팝업 */
.modalPop._center {
  width: auto;
}

/* cropper 모달팝업 */
.cropModalWrap .modalPop {
  width: 100%;
}
.cropModalWrap .modalPop._center {
  top: 0;
  left: 0;
}
.cropModalWrap .modalPop .modalWrap {
  max-width: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 9991;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.cropModalWrap .ico-pop-close {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23666' d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' /%3E%3C/svg%3E") no-repeat;
  word-break: keep-all;
}
.cropModalWrap .btnLabel {
  display: inline-block;
  position: relative;
  padding: 1rem;
  border: 1px solid #4b90df;
  border-radius: 0.25rem;
  font-size: 1.4rem;
  color: #4b90df;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.cropModalWrap .btnLabel .cropInput {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
.cropModalWrap .btnLabel ~ .btn {
  margin-left: 0.5rem;
}

/* textEditerWrap */
.textEditerWrap {
  display: none;
  width: 100%;
  margin: 0 0 0.5rem;
  background: #f3f4f6;
  font-size: 1.4rem;
  font-weight: normal;
}
.textEditerWrap .edit-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  color: #333 !important;
}
.textEditerWrap .edit-box .btn-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.textEditerWrap .edit-box .btn-edit ~ .btn-edit {
  margin-left: 1rem;
}
.textEditerWrap .edit-box .btn-edit .edit-bold {
  padding: 0.5rem 1rem;
  font-weight: 700;
  border: 1px solid #000;
  border-radius: 0.3rem;
}
.textEditerWrap .edit-box .btn-edit .edit-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem 1rem;
  border: 1px solid #000;
  border-radius: 0.3rem;
}
.textEditerWrap .edit-box .btn-edit .edit-size-input {
  margin-left: 0.5rem;
  width: 3rem;
  height: 2rem;
  border: 1px solid #000;
}
.textEditerWrap .edit-box .btn-edit .edit-color {
  position: relative;
  border-radius: 0.3rem;
}

/* 이미지 칼라 추출 */
.img-color-wrap {
  display: block;
  margin-top: 2rem;
}
.img-color-wrap #del-upload {
  display: block;
  padding: 1rem;
  border: 1px dashed #C8C8C8;
  cursor: pointer;
}
.img-color-wrap .ct-img {
  display: block;
  margin: 0;
}
.img-color-wrap .ct-img .img-main {
  display: block;
  width: 100%;
  clear: both;
}
.img-color-wrap .ct-img .img-main:not([src]) {
  display: none;
}
.img-color-wrap .ct-img .img-main:not([src]) + #palette {
  display: none;
}
.img-color-wrap #palette {
  width: inherit;
  height: 40px;
  max-height: 40px;
  padding: 10px 0;
  text-align: center;
}
.img-color-wrap #palette div {
  display: inline-block;
  background-color: #ddd;
  width: 20px;
  height: 20px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
}
.img-color-wrap #palette div + div {
  margin-left: 5px;
}
.img-color-wrap #canvas-main {
  position: absolute;
}

/* cropper style */
.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cropper-container img {
  display: block;
  height: 100%;
  image-orientation: 0deg;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  width: 100%;
}
.cropper-wrap-box, .cropper-canvas {
  overflow: hidden;
}
.cropper-drag-box {
  background-color: #fff;
  opacity: 0;
}
.cropper-view-box {
  display: block;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, 0.75);
  overflow: hidden;
  width: 100%;
}
.cropper-dashed {
  border: 0 dashed #eee;
  display: block;
  opacity: 0.5;
  position: absolute;
}
.cropper-dashed.dashed-h {
  border-bottom-width: 1px;
  border-top-width: 1px;
  height: 33.3333333333%;
  left: 0;
  top: 33.3333333333%;
  width: 100%;
}
.cropper-dashed.dashed-v {
  border-left-width: 1px;
  border-right-width: 1px;
  height: 100%;
  left: 33.3333333333%;
  top: 0;
  width: 33.3333333333%;
}
.cropper-center {
  display: block;
  height: 0;
  left: 50%;
  opacity: 0.75;
  position: absolute;
  top: 50%;
  width: 0;
}
.cropper-center::before, .cropper-center::after {
  background-color: #eee;
  content: " ";
  display: block;
  position: absolute;
}
.cropper-center::before {
  height: 1px;
  left: -3px;
  top: 0;
  width: 7px;
}
.cropper-center::after {
  height: 7px;
  left: 0;
  top: -3px;
  width: 1px;
}
.cropper-face, .cropper-line, .cropper-point {
  display: block;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  width: 100%;
}
.cropper-face {
  background-color: #fff;
  left: 0;
  top: 0;
}
.cropper-line {
  background-color: #39f;
}
.cropper-line.line-e {
  cursor: ew-resize;
  right: -3px;
  top: 0;
  width: 5px;
}
.cropper-line.line-n {
  cursor: ns-resize;
  height: 5px;
  left: 0;
  top: -3px;
}
.cropper-line.line-w {
  cursor: ew-resize;
  left: -3px;
  top: 0;
  width: 5px;
}
.cropper-line.line-s {
  bottom: -3px;
  cursor: ns-resize;
  height: 5px;
  left: 0;
}
.cropper-point {
  background-color: #39f;
  height: 5px;
  opacity: 0.75;
  width: 5px;
}
.cropper-point.point-e {
  cursor: ew-resize;
  margin-top: -3px;
  right: -3px;
  top: 50%;
}
.cropper-point.point-n {
  cursor: ns-resize;
  left: 50%;
  margin-left: -3px;
  top: -3px;
}
.cropper-point.point-w {
  cursor: ew-resize;
  left: -3px;
  margin-top: -3px;
  top: 50%;
}
.cropper-point.point-s {
  bottom: -3px;
  cursor: s-resize;
  left: 50%;
  margin-left: -3px;
}
.cropper-point.point-ne {
  cursor: nesw-resize;
  right: -3px;
  top: -3px;
}
.cropper-point.point-nw {
  cursor: nwse-resize;
  left: -3px;
  top: -3px;
}
.cropper-point.point-sw {
  bottom: -3px;
  cursor: nesw-resize;
  left: -3px;
}
.cropper-point.point-se {
  bottom: -3px;
  cursor: nwse-resize;
  height: 20px;
  opacity: 1;
  right: -3px;
  width: 20px;
}
.cropper-wrap-box, .cropper-canvas, .cropper-drag-box, .cropper-crop-box, .cropper-modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.cropper-point.point-se::before {
  background-color: #39f;
  bottom: -50%;
  content: " ";
  display: block;
  height: 200%;
  opacity: 0;
  position: absolute;
  right: -50%;
  width: 200%;
}
.cropper-hidden {
  display: none !important;
}
.cropper-move {
  cursor: move;
}
.cropper-crop {
  cursor: crosshair;
}
.cropper-disabled .cropper-drag-box, .cropper-disabled .cropper-face, .cropper-disabled .cropper-line, .cropper-disabled .cropper-point {
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .cropper-point.point-se {
    height: 15px;
    width: 15px;
  }
}
@media (min-width: 992px) {
  .cropper-point.point-se {
    height: 10px;
    width: 10px;
  }
}
@media (min-width: 1200px) {
  .cropper-point.point-se {
    height: 5px;
    opacity: 0.75;
    width: 5px;
  }
}