@charset "UTF-8";
/****************************************/
/*	Name: KBDS PMS
/*	Version: 1.0
/*	Author: [써냐]BLUEWEBD™
/****************************************/
/****************************************/
/*	PART: IMPORT CSS
/****************************************/
/* flag */
:root {
  --space-4xs: .4rem;
  --space-3xs: .8rem;
  --space-2xs: 1rem;
  --space-xs: 1.1rem;
  --space-sm: 1.2rem;
  --space-ms: 1.3rem;
  --space-md: 1.4rem;
  --space-mx: 1.8rem;
  --space-lg: 2.0rem;
  --space-xl: 2.4rem;
  --space-2xl: 2.8rem;
  --space-3xl: 3.0rem;
  --space-4xl: 4.8rem;
}

/****************************************/
/*	PART: RESET CSS
/****************************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
} /* rem default 10px */
body {
  background: #fff;
  width: 100%;
  overflow-x: hidden;
  /* 뷰표트 변환시 폰트크기 자동확대 방지. */
  -webkit-text-size-adjust: none;
  font-size: var(--space-ms);
  word-break: keep-all;
}

@media screen and (max-width: 1260px) {
  body {
    overflow-x: auto;
  }
}
/* HTML, body 높이값 100% 고정 */
html, body {
  height: 100%;
  height: 100vh;
  min-height: 100vh;
}

body, div, dl, dt, dd, ul, ol, li, hgroup, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset,
legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0 none;
}

dl, ul, ol, menu, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

address, caption, cite, code, dfn, em, var, i, b {
  font-style: normal;
  font-weight: 400;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

input, select, textarea, button {
  vertical-align: middle;
  font-size: 100%;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
} /* 포커스 라인 비활성처리*/
table {
  background-color: transparent;
  border-spacing: 0;
}

input,
textarea,
select {
  background-color: transparent;
}

input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

input[type=text], input[type=password], input[type=submit],
input[type=search], input[type=tel], input[type=email] {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 
select {appearance:none; -webkit-appearance:none; -moz-appearance:none; border-radius:0; ; -webkit-border-radius:0 ; -moz-border-radius:0 ; -ms-border-radius:0 ; -o-border-radius:0 ; border-color: #ccc; text-indent: 10px;  background:url(../../img/ico_selarrow.png) 100% 50% no-repeat; background-size:auto calc(1.8rem/3);}
*/
select::-ms-expand {
  display: none;
} /* IE9 이상 select 화살표 삭제 */
/* select {border-radius:0; ; -webkit-border-radius:0 ; -moz-border-radius:0 ; -ms-border-radius:0 ; -o-border-radius:0 ; border-color: #ccc; text-indent: 10px; } */
body, th, td, input, select, textarea, button {
  font-size: 1.4rem;
  font-family: "KBFG Display", "NotoSansKR", "Malgun Gothic", "Dotum", Arial, sans-serif;
  font-weight: 400;
  color: #333;
  letter-spacing: -0.5px;
}

input[type=text]:read-only, input[type=password]:read-only,
input[type=text]:disabled, input[type=password]:disabled {
  background: #f6f6f6;
}

strong {
  font-family: "NotoSansKR";
  font-weight: 400;
}

b {
  font-family: "NotoSansKR";
  font-weight: 600;
}

a {
  display: inline-block;
  color: #333;
  text-decoration: none; /*outline:transparent;*/
}

a:active, a:hover {
  text-decoration: none;
}

legend, caption {
  position: absolute !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  clip: rect(1px 1px 1px 1px);
}

.hr {
  display: none;
  visibility: hidden;
}

/****************************************/
/*	PART: BASIC CSS
/****************************************/
.hide {
  position: absolute !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  clip: rect(1px 1px 1px 1px);
}

.blind {
  position: absolute !important;
  overflow: hidden !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  display: block !important;
  font-size: 1px !important;
  z-index: -1;
}

.screen {
  position: absolute !important;
  overflow: hidden !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  font-size: 1px;
  text-indent: -9999px;
}

.full {
  width: 100% !important;
}

/* ALIGN */
.alL, .l {
  text-align: left !important;
}

.alC, .c {
  text-align: center !important;
}

.alR, .r {
  text-align: right !important;
}

.vm {
  vertical-align: middle !important;
}

.vt {
  vertical-align: top !important;
}

.vb {
  vertical-align: bottom !important;
}

.posR {
  position: relative;
}

.posA {
  position: absolute;
}

.block {
  display: block !important;
}

.inBlock {
  display: inline-block !important;
}

.flex {
  display: flex;
  align-items: center;
}
.flex.center {
  justify-content: center;
}
.flex.between {
  justify-content: space-between;
}
.flex.col {
  flex-direction: column;
}

.scrollY {
  overflow-y: scroll;
}

.scrollX {
  overflow-x: scroll;
}

.underline {
  text-decoration: underline;
}
.underline:active, .underline:hover {
  text-decoration: underline;
}

.bold {
  font-family: "KBFG Display", "NotoSansKR", "Malgun Gothic", "Dotum", Arial, sans-serif;
  font-weight: 600;
}

.fs-md {
  font-size: 1.6rem !important;
}

.fs-s {
  font-size: 1.3rem !important;
}

.fs-xs {
  font-size: 1.2rem !important;
}

.fs-xxs {
  font-size: 0.9rem !important;
}

.wb-txt {
  word-break: break-all;
}

.asterisk {
  position: relative;
  font-size: 1.4rem;
  color: #e93c79;
  font-weight: normal;
  padding-left: 1rem;
}
.asterisk:before {
  content: "*";
  display: inline-block;
  position: absolute;
  top: 0.4rem;
  left: 0rem;
  margin-right: 2px;
}

.uline {
  display: inline-block;
}
.uline::after {
  content: "";
  display: block;
  background: #fc0;
  height: 1rem;
  margin-top: -1rem;
}

/* SKIP */
.skipMenu {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;
}
.skipMenu a {
  display: block;
  font-size: 1;
  height: 1px;
  width: 0px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  line-height: 0;
  text-align: center;
}
.skipMenu a:focus, .skipMenu a:hover, .skipMenu a:active {
  width: auto;
  height: 2.8rem;
  margin: 0;
  padding: 0.8rem 0;
  background: #333;
  font-size: 1.4rem;
  line-height: 1.2rem;
  color: #fff;
  z-index: 15;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #333;
}

.btnWrap {
  padding: 0.5rem;
}
.btnWrap > a {
  padding: 0.5rem 1rem;
  color: #242424;
  text-decoration: none;
  background: #fc0;
  font-size: var(--space-ms);
  border-radius: 0.3rem;
}

.container {
  padding: 6rem 3rem 3rem;
}
.container .section {
  max-width: 36rem;
  margin: 0 auto;
}
.container .section [data-type=goods] {
  display: flex;
}
.container .section .md {
  position: relative;
  background: #ddd;
  min-height: 10rem;
  cursor: pointer;
}
.container .section .md ~ .md {
  margin-top: 1rem;
}
.container .section .md-txt {
  border: 5px solid #4b90df;
}
.container .section .md-img {
  border: 5px solid #e93c79;
  font-size: 0;
}
.container .section .md-video {
  border: 5px solid #4bdf7c;
}
.container .section .md-goods {
  border: 5px solid #484239;
}
.container .section .md .label {
  display: inline-block;
  cursor: pointer;
}
.container .section .md .label .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.container .section .md .label img {
  max-width: 100%;
}
.container .section .md .alert {
  display: none;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  background-color: #fff3cd;
  font-size: 1rem;
  color: #856404;
}
.container .section .md-goods {
  display: flex;
}
.container .section .md [contenteditable=true] {
  cursor: text;
}
.container .section .md .swiperAddBtn {
  width: 3rem;
  height: 3rem;
  margin: auto;
  border-radius: 3rem;
  background: #fff;
}
.container .section .md .deleteBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 2rem;
  background: red;
}

/* cropper 모달팝업 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
.modal-dialog {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 1001;
  width: auto;
  max-width: 500px;
  transform: translate(-50%, -50%);
}
.modal-content {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  background-color: #fff;
}
.modal-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}
.modal-header .close {
  margin: -1rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}
.modal-body {
  padding: 1rem;
}
.modal-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}
.modal-footer .btn {
  display: inline-block;
  margin: 0.25rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.modal-footer .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}
.modal-footer .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
.modal-dim {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.swiper-slide {
  background: moccasin;
}

.img-container img {
  max-width: 100%;
}

.imgWrap.no-img {
  text-align: center;
  padding: 2rem;
}
.imgWrap.no-img::before {
  content: "";
  display: block;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 16 16'%3E%3Cpath d='M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0'/%3E%3Cpath d='M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54L1 12.5v-9a.5.5 0 0 1 .5-.5z'/%3E%3C/svg%3E") no-repeat;
  width: 5rem;
  height: 5rem;
  margin: auto;
}
.imgWrap.no-img::after {
  content: "";
  display: block;
  content: "이미지를 등록해주세요";
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.imgWrap img {
  max-width: 100%;
}

.videoWrap.no-video {
  text-align: center;
  padding: 2rem;
}
.videoWrap.no-video::before {
  content: "";
  display: block;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666'  viewBox='0 0 16 16'%3E%3Cpath d='M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0'/%3E%3Cpath d='M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6'/%3E%3Cpath d='M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z'/%3E%3C/svg%3E") no-repeat;
  width: 5rem;
  height: 5rem;
  margin: auto;
}
.videoWrap.no-video::after {
  content: "";
  display: block;
  content: "영상을 등록해주세요";
  font-weight: 700;
  margin-top: 2rem;
}

/* cropper style */
.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cropper-container img {
  display: block;
  height: 100%;
  image-orientation: 0deg;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  width: 100%;
}
.cropper-wrap-box, .cropper-canvas {
  overflow: hidden;
}
.cropper-drag-box {
  background-color: #fff;
  opacity: 0;
}
.cropper-view-box {
  display: block;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, 0.75);
  overflow: hidden;
  width: 100%;
}
.cropper-dashed {
  border: 0 dashed #eee;
  display: block;
  opacity: 0.5;
  position: absolute;
}
.cropper-dashed.dashed-h {
  border-bottom-width: 1px;
  border-top-width: 1px;
  height: 33.3333333333%;
  left: 0;
  top: 33.3333333333%;
  width: 100%;
}
.cropper-dashed.dashed-v {
  border-left-width: 1px;
  border-right-width: 1px;
  height: 100%;
  left: 33.3333333333%;
  top: 0;
  width: 33.3333333333%;
}
.cropper-center {
  display: block;
  height: 0;
  left: 50%;
  opacity: 0.75;
  position: absolute;
  top: 50%;
  width: 0;
}
.cropper-center::before, .cropper-center::after {
  background-color: #eee;
  content: " ";
  display: block;
  position: absolute;
}
.cropper-center::before {
  height: 1px;
  left: -3px;
  top: 0;
  width: 7px;
}
.cropper-center::after {
  height: 7px;
  left: 0;
  top: -3px;
  width: 1px;
}
.cropper-face, .cropper-line, .cropper-point {
  display: block;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  width: 100%;
}
.cropper-face {
  background-color: #fff;
  left: 0;
  top: 0;
}
.cropper-line {
  background-color: #39f;
}
.cropper-line.line-e {
  cursor: ew-resize;
  right: -3px;
  top: 0;
  width: 5px;
}
.cropper-line.line-n {
  cursor: ns-resize;
  height: 5px;
  left: 0;
  top: -3px;
}
.cropper-line.line-w {
  cursor: ew-resize;
  left: -3px;
  top: 0;
  width: 5px;
}
.cropper-line.line-s {
  bottom: -3px;
  cursor: ns-resize;
  height: 5px;
  left: 0;
}
.cropper-point {
  background-color: #39f;
  height: 5px;
  opacity: 0.75;
  width: 5px;
}
.cropper-point.point-e {
  cursor: ew-resize;
  margin-top: -3px;
  right: -3px;
  top: 50%;
}
.cropper-point.point-n {
  cursor: ns-resize;
  left: 50%;
  margin-left: -3px;
  top: -3px;
}
.cropper-point.point-w {
  cursor: ew-resize;
  left: -3px;
  margin-top: -3px;
  top: 50%;
}
.cropper-point.point-s {
  bottom: -3px;
  cursor: s-resize;
  left: 50%;
  margin-left: -3px;
}
.cropper-point.point-ne {
  cursor: nesw-resize;
  right: -3px;
  top: -3px;
}
.cropper-point.point-nw {
  cursor: nwse-resize;
  left: -3px;
  top: -3px;
}
.cropper-point.point-sw {
  bottom: -3px;
  cursor: nesw-resize;
  left: -3px;
}
.cropper-point.point-se {
  bottom: -3px;
  cursor: nwse-resize;
  height: 20px;
  opacity: 1;
  right: -3px;
  width: 20px;
}
.cropper-wrap-box, .cropper-canvas, .cropper-drag-box, .cropper-crop-box, .cropper-modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.cropper-point.point-se::before {
  background-color: #39f;
  bottom: -50%;
  content: " ";
  display: block;
  height: 200%;
  opacity: 0;
  position: absolute;
  right: -50%;
  width: 200%;
}
.cropper-hidden {
  display: none !important;
}
.cropper-move {
  cursor: move;
}
.cropper-crop {
  cursor: crosshair;
}
.cropper-disabled .cropper-drag-box, .cropper-disabled .cropper-face, .cropper-disabled .cropper-line, .cropper-disabled .cropper-point {
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .cropper-point.point-se {
    height: 15px;
    width: 15px;
  }
}
@media (min-width: 992px) {
  .cropper-point.point-se {
    height: 10px;
    width: 10px;
  }
}
@media (min-width: 1200px) {
  .cropper-point.point-se {
    height: 5px;
    opacity: 0.75;
    width: 5px;
  }
}