/****************************************/
/*	PART: IMPORT CSS
/****************************************/
/* flag */
:root {
  --space-4xs: .4rem;
  --space-3xs: .9rem;
  --space-2xs: 1rem;
  --space-xs: 1.1rem;
  --space-sm: 1.2rem;
  --space-ms: 1.3rem;
  --space-md: 1.4rem;
  --space-mx: 1.8rem;
  --space-lg: 2.0rem;
  --space-xl: 2.4rem;
  --space-2xl: 2.8rem;
  --space-3xl: 3.0rem;
  --space-4xl: 4.8rem;
  --section: 37.5rem ;
}

/* function */
@font-face {
  font-family: "iconFont";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../font/iconfont/fontawesome/fa-solid-900.eot");
  src: url("../font/iconfont/fontawesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../font/iconfont/fontawesome/fa-solid-900.woff2") format("woff2"), url("../font/iconfont/fontawesome/fa-solid-900.woff") format("woff"), url("../font/iconfont/fontawesome/fa-solid-900.ttf") format("truetype"), url("../font/iconfont/fontawesome/fa-solid-900.svg#fontawesome") format("svg");
}
.fa,
.fas {
  font-family: "iconFont";
  font-weight: 900;
}

@font-face {
  font-family: "iconFont";
  font-display: block;
  src: url("../font/iconfont/fontawesome/fa-solid-900.woff2") format("woff2"), url("../font/iconfont/fontawesome/fa-solid-900.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../font/webfonts/Roboto-Light.woff") format("woff");
  src: url("../font/webfonts/Roboto-Light.woff2");
  src: url("../font/webfonts/Roboto-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../font/webfonts/Roboto-Regular.woff") format("woff");
  src: url("../font/webfonts/Roboto-Regular.woff2");
  src: url("../font/webfonts/Roboto-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../font/webfonts/Roboto-Medium.woff") format("woff");
  src: url("../font/webfonts/Roboto-Medium.woff2");
  src: url("../font/webfonts/Roboto-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../font/webfonts/Roboto-Bold.woff") format("woff");
  src: url("../font/webfonts/Roboto-Bold.woff2");
  src: url("../font/webfonts/Roboto-Bold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 300;
  src: url("../font/webfonts/NotoSansKR-Light.woff");
  src: url("../font/webfonts/NotoSansKR-Light.otf");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
  src: url("../font/webfonts/NotoSansKR-Regular.eot");
  src: url("../font/webfonts/NotoSansKR-Regular.woff");
  src: url("../font/webfonts/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 600;
  src: url("../font/webfonts/NotoSansKR-Bold.woff");
  src: url("../font/webfonts/NotoSansKR-Bold.otf");
}
/****************************************/
/*	PART: GUIDE PAGE STYLE
/****************************************/
/* container */
.skipNav {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;
}
.skipNav a {
  display: block;
  font-size: 1;
  height: 1px;
  width: 0px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  line-height: 0;
  text-align: center;
}
.skipNav a:focus, .skipNav a:hover, .skipNav a:active {
  width: auto;
  height: 2.8rem;
  margin: 0;
  padding: 0.8rem 0;
  background: #000;
  font-size: 1.4rem;
  line-height: 1.2rem;
  color: #fff;
  z-index: 15;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#pg-wrap {
  margin: 0;
}
#pg-headerWrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#191B2A), to(#302CA4));
  background: linear-gradient(180deg, #191B2A, #302CA4);
  width: 100%;
  padding: 2rem 1rem 0;
}

.wg-hgroup {
  padding: 2.5rem 2rem 2rem;
}
.wg-hgroup .wgTit01 {
  font-size: var(--space-mx);
}
.wg-hgroup .wgTit01::before {
  content: "";
  display: inline-block;
  content: "\f550";
  font-family: "iconFont";
  color: #302CA4;
  font-size: var(--space-ms);
  margin-right: 0.5rem;
  vertical-align: middle;
}
.wg-fxWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wg-fxWrap ~ .wg-fxWrap {
  margin-top: 4rem;
}
.wg-rowWrap > .wg-fx {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wg-rowWrap > .wg-colWrap {
  max-width: 50%;
}
.wg-colWrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wg-colWrap-fx ~ .wg-fx {
  margin-top: 4rem;
}
.wg-contBoxWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
}
.wg-contBody {
  width: 100%;
  background: #fff;
  color: #333;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.1);
          box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.1);
}
.wg-contBody > dt {
  padding: 2rem;
  font-size: 1.5rem;
}
.wg-contBody > dt + dd {
  border-top: 1px solid #ebedf2;
}
.wg-contBody > dd {
  padding: 2rem;
}
.wg-contBody > dd + dd {
  padding-top: 0;
}
.wg-TxtTit {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background: #E8E9FB;
  color: #4d5cf2;
  border-radius: 0.5rem;
}
.wg-lstBody {
  padding: 0.5rem;
}
.wg-example {
  margin-top: 1rem;
}
.wg-example + .wg-TxtTit {
  margin-top: 2rem;
}
.wg-lst-bar > li, .wg-lst-bar .wg-ico {
  text-indent: -0.5rem;
  margin-left: 0.5rem;
}
.wg-lst-bar > li::before {
  content: "";
  display: block;
  display: inline-block;
  content: "-";
  margin-right: 0.5rem;
}
.wg-lst-bar > li ~ li {
  margin-top: 0.5rem;
}
.wg-ico::before {
  content: "";
  display: inline-block;
  font-family: "iconFont";
  content: "-";
  margin-right: 0.5rem;
}
.wg-ico.wg-ico-bar::before {
  content: "";
  display: inline-block;
  content: "-";
}
.wg-ico.wg-ico-info::before {
  content: "";
  display: inline-block;
  content: "\f22d";
  color: #FD397A;
}
.wg-ico.wg-ico-star::before {
  content: "";
  display: inline-block;
  content: "*";
  color: #BE4BDB;
}
.wg-splitWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wg-splitWrap.col2 > li {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
  padding: 0 0.5rem 0.5rem;
}
.wg-splitWrap.col2 > li:nth-child(even) {
  margin-left: 1%;
}
.wg-splitWrap.col2 > li.wg-split-none {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: block;
  width: 100%;
  margin: 0;
}
.wg-splitWrap.col2.wg-lst-bar > li ~ li {
  margin-top: 0;
}
.wg-splitWrap.col2 > .colSec {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49%;
  padding: 0 0.5rem 0.5rem;
}
.wg-splitWrap.col2 > .colSec:nth-child(even) {
  margin-left: 2%;
}
.wg-splitWrap.col2 > .colSec.col-full {
  width: 100%;
}
.wg-splitWrap .col-full {
  float: none;
  clear: both;
}

.wg-lst-bar > li > *, .wg-ico > * {
  text-indent: 0;
}

.component-nav {
  background: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
}
.component-nav .nav-lst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.component-nav .nav-lst > li > a {
  display: block;
  padding: 1rem;
  text-align: center;
  -webkit-transition: 0.5s color ease;
  transition: 0.5s color ease;
}
.component-nav .nav-lst > li > a::after {
  content: "";
  display: block;
  width: 0;
}
.component-nav .nav-lst > li > a:hover {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #016823;
}
.component-nav .nav-lst > li > a:hover::after {
  content: "";
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 100%;
  bottom: 0;
  height: 0.35rem;
  width: 100%;
  background: #00c542;
}
.component-nav .nav-lst > li > a.is-active {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #7c4bdf;
}
.component-nav .nav-lst > li > a.is-active::after {
  content: "";
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 100%;
  bottom: 0;
  height: 0.35rem;
  width: 100%;
  background: #7c4bdf;
}

.pg-contentWrap {
  padding: 2rem;
}

.component-lst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.component-lst > li {
  margin-bottom: 4rem;
}
.component-wrap {
  min-width: 375px;
}
.component-wrap ~ .component-wrap {
  margin-left: 2rem;
}
.component-wrap > iframe {
  width: 100%;
  height: 64rem;
  border: 0.2rem #5C5C5C solid;
}
.component-item {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.component-item > * {
  padding: 1.5rem 1rem;
  border-top: 1px #333 solid;
  font-family: "roboto";
  font-weight: 400;
}
.component-item > dt {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}
.component-item > dt:first-child {
  border: 0;
}
.component-item > dt:first-child + dd {
  border: 0;
}
.component-item > dd {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

.cp-tit.dep01 {
  font-size: 2.2rem;
}
.cp-tit.dep02 {
  font-size: 1.8rem;
}
.cp-tit.dep02::before {
  content: "";
  display: block;
  background: #00c542;
  width: 1.5rem;
  height: 0.3rem;
  margin-bottom: 1rem;
}
.cp-tit.dep03 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.cp-tit.dep03::before {
  content: "";
  display: block;
  color: #ff3502;
  margin-right: 1rem;
  display: inline-block;
  content: "\f02e";
  font-family: "iconFont";
  font-weight: 900;
}
.cp-tit + .btnWrap {
  margin-top: 2rem;
}

#cp-wrap {
  padding: 2rem;
}
#cp-wrap .cp-content ~ .cp-content {
  margin-top: 3rem;
}
#cp-wrap .cp-content .btnWrap > .btn {
  margin-bottom: 1rem;
}
#cp-wrap .cp-content > .toolTip_wrap {
  margin: 2rem 0;
}
#cp-wrap .cp-content .field + .field {
  margin: 2rem 0;
}
#cp-wrap .cp-tit.dep01 {
  font-size: 2.2rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}
#cp-wrap .cp-tit.dep01 .info {
  font-size: 1.2rem;
  color: #ff0000;
  line-height: 2rem;
  margin-top: 1rem;
  display: inline-block;
}
#cp-wrap .cp-tit.dep02 {
  font-size: 1.8rem;
  background: #a9b5ca;
  padding: 0.5rem 1rem;
}
#cp-wrap .cp-tit.dep02::before {
  content: "";
  display: block;
  display: none;
}
#cp-wrap .cp-tit.dep03 {
  font-size: 1.6rem;
}
#cp-wrap .cp-tit + .component {
  margin-top: 0.5rem;
}
#cp-wrap .cp-tit + .field {
  margin-top: 2rem;
}

.tblWrap {
  margin: 1.5rem 0 0.5rem;
}
.tblWrap .tbl {
  width: 100%;
}
.tblWrap .tbl th, .tblWrap .tbl td {
  padding: 1rem;
  border-top: 1px #333 solid;
}
.tblWrap .tbl th {
  background: #e6e6e6;
}
.tblWrap .tbl td {
  background: #f5f5f5;
}
.tblWrap .tbl thead + tbody tr:first-child > th, .tblWrap .tbl thead + tbody tr:first-child > td {
  border-top: 0;
}

.hr.divice {
  display: block;
  visibility: visible;
  background: #aaa;
  border: none;
  height: 1px;
}