#{$tab} {
  &-swiper {
    @include width;
    background:$color-white;
    @include overflow(x, hidden);
  }
  &-nav {
    @include pos(relative); @include height(50px); @include overflow(x, hidden);
    background-color: $color-white;
    padding-right:2rem;

    #{$swiper}{
      &-slide {
        @include display(block);
        @include width(auto); @include overflow(y, hidden);
        cursor: pointer;      
        & > a {
          padding:1rem;
          color: $color-gray2;
          font-size:var(--space-ms);
          @include align(text, center);
          
          @include el-content(after) {
            @include el-size(0, .2rem);
          }
        }
        &.active > a {
          font-weight:bold;
          @include line-effect($color-blue3, after, center) {
            @include transition(0.5s, width, ease);
            @include el-size(100%, .2rem);
            bottom:0;
            background:$color-green2;
            border-radius:.4rem;
          }
        }
      }
    }
    &.moveBar {
      #{$swiper}{
        &-slide {
          &.active > a {
            @include el-content(after){
              display:none;
            }
          }
        }
      }
    }
  }
  &-active-bar {
    @include pos-offset-b(.9rem, 0);
    height:.3rem; margin-left:1.5rem;
    background:$color-orange; border-radius:.4rem;
    transition-property: all;
  }
  &-content {
    @include overflow (both, hidden); @include height(20rem);
    .swiper-slide {
      color:$color-white;
      line-height: 20rem;
      @include align(text, center);
      cursor: pointer;
      background-color:$color-tbl-thead;

      &:nth-child(odd) {background-color:$color-blue4;}
    }
  }
}

#{$swiper}{
  $sw:'.swiper-wrapper';

  &-container{
    &-vertical{
      touch-action: pan-x;
      & > .swiper{
        &-wrapper {
          flex-direction: column;
        }
      } 
    }
  }

  &-free-mode{
    & > #{$sw} {
      transition-timing-function: ease-out;
      margin: 0 auto;
    }
  }

  &-vertical{
    & > #{$sw} {
      flex-direction: column;
    }
  }

  &-wrapper{
    @include display(flex);
    @include pos(relative){z-index:1;}
    @include el-size(100%, 100%);    
    box-sizing: content-box;
  }

  &-slide{
    flex-shrink: 0;
    @include el-size(100%, 100%);
    @include pos(relative);
  }

  &-pagination{
    @include pos(absolute){z-index:10;}
    @include align(text, center);
    @extend %transition3s;
    transform: translate3d(0,0,0);

    &-bullet{
      @include el-size(1rem, 1rem !important) ;
      opacity: 1 !important;
      background: $color-white !important;
      @include line(border, 0.2rem solid $color-blue4 !important);
      @include display(inline-block);
      border-radius: 100%;

      &-active{
        background: $color-blue4 !important;
        @include width(2rem !important);
        border-radius: 1.5rem !important;
        opacity: 1;
        background: $color-blue2
      }

      &:focus{
        @include line(outline, 0.2rem solid $color-black);
        outline-offset: 0.1rem;

        &:not(:focus-visible){
          outline: none !important;
        }
      }
    }
  }

  &-button {
    &-next {
      @include pos-offset-r(50%, 1rem, absolute){z-index: 10;}
      @include el-size(2.7rem, 4.4rem);
      margin-top: -2.2rem;
      cursor: pointer;
      background-size: 2.7rem 4.4rem;
      background-position: center;
      background-repeat: no-repeat;
      
      &::after{
        content: '';
        @include display(block);
        @include auto-vertical-align;
        right: 0.75rem;
        @include el-size(2.2rem, 2.2rem);
        @include line(border, 0.2rem solid $color-blue);
        border-width: 0.2rem 0.2rem 0 0;
        transform: translateY(-50%) rotate(45deg);
      }

      & span{
        @include pos(absolute);
        clip: rect(0 0 0 0);
        @include el-size(0.1rem, 0.1rem);
        margin: -0.1rem;
        overflow: hidden;
      }
    }
    &-prev{
      @include pos-offset-l(50%, 2rem, absolute){z-index: 10;}
      @include el-size(2.7rem, 4.4rem);
      margin-top: -2.2rem;
      cursor: pointer;
      background-size: 2.7rem 4.4rem;
      background-position: center;
      background-repeat: no-repeat;

      &::after{
        content: '';
        @include display(block);
        @include auto-vertical-align;
        right: 0.75rem;
        width: 2.2rem; height: 2.2rem;
        @include line(border, 0.2rem solid $color-blue);
        border-width: 0.2rem 0.2rem 0 0;
        transform: translateY(-50%) rotate(225deg);
      }

      & span{
        @include pos(absolute);
        clip: rect(0 0 0 0);
        @include el-size(0.1rem, 0.1rem);
        margin: -0.1rem;
        overflow: hidden;
      }
    }
  }

  &-container{
    &-3d{
      perspective: 120rem;

      & #{$sw}{
        transform-style: preserve-3d;
      }
    }
  }

}

.swip{
  &-rt{
    @include pos(relative);

    &:last-child{
      margin-bottom: 2rem;
    }
  }

  &-swiper{
    @include overflow(both, hidden);
    @include height(20rem);

    & .swiper{
      &-slide{
        color: $color-white;
        line-height: 20rem;
        @include align(text, center);
        cursor: pointer;
        background-color: $color-tbl-thead;
        margin-top: 1rem;
        @include height(19rem);
    
        &:nth-child(odd){
          background-color: $color-blue4;
        }
      }

      &-pagination{
        @include pos(absolute);
        @include width(100%);
        bottom: -2.5rem;
    
        &-bullet {
          margin-right: 0.5rem; 
        }
      }
    }
  }

  &-wrap{
    @include display(flex){justify-content: center;}
  }
}

.play-btn-wrap {
  margin-left: 7rem;
  
  & button{
    @include pos(absolute){bottom: -2.5rem; z-index: 100;}
    @include el-size(2rem, 2rem);
    border-radius: 1rem;
    background: $color-blue4;
    color: $color-white;
    cursor: pointer;

    & span{
      @include pos(absolute);
      clip: rect(0 0 0 0);
      @include el-size(0.1rem, 0.1rem);
      margin: -0.1rem;
      @include overflow(both, hidden);
    }
  }
}