@import 'mixin';

#{$field} {
    .select {
        // default system select
        &-sys {
            @include el-size(100%, 100%);
            padding-right: 3rem;
            background-color: transparent;
            // background: svgIcon(ico_selArrow);
            background-position: calc(100% - 1rem) 50%; background-size: 1.6rem 1.6rem;
            color: inherit; white-space: nowrap; text-overflow: ellipsis;
            border:none;
        }
        &-lst {
            & > li {
                padding:1rem 0; border-bottom:.1rem solid $color-gray5;
                transition:all .3s ease-in-out;
                // & ~ li {border-top:.1rem solid $color-gray5;}
                & > a {
                    @include display(flex) {justify-content:space-between; align-items:space-between;}
                    @include el-content(after) {
                        @include el-size(2rem, 2rem); min-width:2rem;
                        background: svgIconForm(chk-line, aaa); background-position: 100% 100%;
                        vertical-align:middle;
                    }
                }
                &._is-active {
                    border-color:$color-blue;
                    &  > a {
                        color:$color-blue; font-weight:700;
                        @include el-content(after) {
                            background: svgIconForm(chk-line-square, 2380ff);
                        }
                    }
                }
            }
        }
    }
    &-select{
        position: relative;

        &-wrap{
            @include display(flex);
            
            & .btnWrap{
                flex-grow:0;
                margin-left: 0.8rem;
                & button{
                    min-height: 4rem;
                    padding: 1.7rem 1rem 1.3rem 1rem;
                }
            }
        }
        
        & > button{
            @include fontSize('lg');
        }

        & .btn-select{
            position: relative;
            min-height: 4.0rem;
            border-radius: .5rem;
            box-shadow: inset 0 0 0 .1rem $color-gray8;
            background:$color-white;
            transition: box-shadow 250ms cubic-bezier(.65,.05,.36,1);
            padding: 1.7rem 1rem 1.3rem 1rem;
            color: $color-black;
            font-weight: 700;
            width: 100%;
            text-align: left;
            &:focus-within {box-shadow: inset 0 0 0 .2rem $color-gray8;}

            &.border-none{
                background:transparent;
                box-shadow: none;
                &:focus-within{box-shadow: none;}
            }
        }

        & .border-none{
            position: relative;
            min-height: 4.0rem;
            border-radius: .5rem;
            background:transparent;
            transition: box-shadow 250ms cubic-bezier(.65,.05,.36,1);
            padding: 1.7rem 1rem 1.3rem 1rem;
            color: $color-black;
            font-weight: 700;
            width: 100%;
            text-align: left;
        }

        &-list{
            // @include pos-offset-l(0.6rem, 0. absolute);
            position: absolute;
            width: 100%;
            top: 5.2rem;
            left: 0;
            border: 1px solid #000;
            border-radius: .5rem;
            background-color: #fff;
            padding: 1.6rem 0;
            z-index: 10;
            display: none;

            &._is-active{
                display: block;
            }

            & li{
                padding: 0.8rem 1.6rem;
                color: $color-gray2;
                text-align: left;

                &:hover{
                    background-color: $color-light-gray2;
                }
            }
        }
    }
}


.modalPop[select-target] {
    .modal {
        &-title {
            @include display(flex) {justify-content:space-between; align-items:space-between;}
            margin-bottom:1.5rem;
            .tit {
                flex:1;
                &.dep02 {font-size:var(--space-mx); padding:0;}
            }
            .ico-pop-close {background-position:100% 100%;}
        }
    }
}