#{$lst} {
  &-goods {
    @include display(flex);
    flex-wrap:wrap;
    gap:2rem;
    & > li {
      @include width(calc(100%/2 - 1rem));
    }  
  }
}

.list{
  &-dot{
    padding: 0.3rem 0;
    margin-left: 1rem;
    margin-top: 2rem;

    &.cir {
      & > li{
        position:relative;
        padding:0.5rem 0 0.5rem 1.2rem;
        color: #333;
        font-size: 1.3rem;

        &::before{
          content: "";
          display: block;
          position: absolute;
          top: 1rem;
          left: 0;
          width: 0.3rem;
          height: 0.3rem;
          background: #1c5a96;
          border-radius: 50%;
        }
      }
    }

    &.squ {
      & > li{
        position:relative;
        padding:0.5rem 0 0.5rem 1.2rem;
        color: #333;
        font-size: 1.3rem;

        &::before{
          content: "";
          display: block;
          position: absolute;
          top: 1rem;
          left: 0;
          width: 0.3rem;
          height: 0.3rem;
          background: #1c5a96;
        }
      }
    }
}

  &-hyphen{
    & > li{
      position:relative;
      padding:0.5rem 0 0.5rem 1.2rem;
      color: #333;
      font-size: 1.3rem;

      &::before{
        content: "";
        display: block;
        position: absolute;
        top: 1rem;
        left: 0;
        width: 0.5rem;
        height: 0.1rem;
        background: #888;
      }
    }
  }

  &-caution{
    & > li{
      position:relative;
      padding:0.5rem 0 0.5rem 1.2rem;
      color: #333;
      font-size: 1.3rem;

      &::before{
        content: "※";
        display: block;
        position: absolute;
        top: 0.2rem;
        left: 0;
      }
    }
  }

  &-star{
      & > li{
        position:relative;
        padding:0.5rem 0 0.5rem 1.2rem;
        color: #333;
        font-size: 1.3rem;

        &::before{
          content: "*";
          display: block;
          position: absolute;
          top: 0.5rem;
          left: 0;
      } 
      }
  }
}

// 상품
.goods {
  &Wrap {
    @include pos(relative);
    
    .goodsAddBtn{
      @include display(none);
    }
    &:hover{
      .goodsAddBtn{
        @include display(block);
      }
    }
    .item {
      padding:.3rem 0;
      &.brand {
        font-size:var(--space-xs);
      }
      &.name {
        font-weight:bold;
      }
      &.price {
        font-size:var(--space-xs);
      }
    }
  }
  &-tit{
    @include pos(relative);
    margin:1rem 0;
  }
  &-category {
    font-size:var(--space-mx);
    font-weight:bold;
    
  }
  // &-info {
  //   background:$color-gray6;
  //   border-radius:1rem;
  //   @include overflow(both, hidden);
  //   margin-bottom:1rem;
  // }
  &-img {
    background:$color-gray6;
    border-radius:1rem;
    @include overflow(both, hidden);
    margin-bottom:1rem;
  }
}

.label {
  &.point {
    font-size:var(--space-3xs);
    background:$color-gray7;
    border-radius:.5rem;
    padding:.3rem .5rem;
  }
}