/* TABLE */
#{$tbl} {
  &Wrap {
    & > p:first-child {margin-top:0;}
    & p {margin:4rem 0 1rem;}
    & table {
        @include width;
        margin-top:1.7rem;
        & + table {margin-top:2rem;} 

        & tr{
          @include line(border, .1rem $color-gray11 solid, top);
          &:last-child{
            @include line(border, .1rem $color-gray11 solid, bottom);
          }
        }

        & th,& td {
          padding:2.4rem 2.4rem 2.2rem 2.4rem;
          @include align(text,left);
        }
        
        & th {border-color:$color-gray11; @include fontSize('md');}

        & thead {
          & th {background:$color-light-blue2;}
          & + tbody {
              & > tr:first-child th, & > tr:first-child td {@include line(border, none, top)}
          }
        }

        & tbody {
            & th {background:$color-gray12;}
            & td {@include fontSize(1.5rem); color: $color-black;}
        }    
    }
    & + #{$tbl}{
      &Wrap{
        margin-top:5.6rem;
      }
    }
  }
}


