//------ font
$fontDefault: 'Malgun Gothic','Dotum', Arial, sans-serif;
$KBFGDisplay: 'KBFG Display';
$KBFGText: 'KBFG Text';
$fontKO: $KBFGDisplay, 'NotoSansKR', $fontDefault; //default
$fontEN: 'roboto','NotoSansKR', $fontDefault;

//------ color system
$color-default:#333;
$color-white: #fff;
$color-black: #000;
$color-gray1: #242424;
$color-gray2: #333;
$color-gray3: #666;
$color-gray4: #999;
$color-gray5: #aaa;
$color-gray6: #ddd;
$color-gray7: #eee;
$color-gray8: #ccc;

$color-light-gray1:#e6e6e6;
$color-light-gray2:#f5f5f5;
$color-light-gray3:#f7f7f7;
$color-light-gray4:#f1f1f1;
$color-light-gray5:#f3f4f6;
$color-light-blue1:#eceef0;
$color-light-blue2:#d9e4fa;
$color-light-brown1:#cac4b7;
$color-light-yellow1:#fff4ce;
$color-light-green1:#d3ffe5;
$color-light-green2:#8ed0aa;
$color-lighten6: #7c828c;

$color-yellow: #fc0;
$color-yellow2: #ffed23;
$color-yellow3: #ffcc23;
$color-yellow4: #e1ac00;
$color-brown: #484239;
$color-pk: #e93c79;
$color-green: #4bdf7c;
$color-violet: #8b4bdf;
$color-blue: #4b90df;
$color-blue2: #0048ff;
$color-blue3:#043b72;
$color-blue4:#82B4D2;
$color-blue5:#008fba;
$color-blue3:#043b72;
$color-blue4:#82B4D2;
$color-blue5:#008fba;
$color-violet: #7c4bdf;
$color-violet2: #5300a0;
$color-orange: #ff3502;
$color-red:#e00700;
$color-pk:#e93c79;
$color-green: #016823;
$color-green2: #00c542;
$color-green3: #82D22D;
$color-green4: #1e9a8f;
$color-brown: #8C5032;
$color-brown2:#4d4d4d;
$color-brown3:#7e756b;
$color-brown3:#64584a;

$color-tbl-line1: #bbc0c7;
$color-tbl-thead: #a9b5ca;
$color-tbl-tbody: #f3f6fb;

$color-valid: $color-blue2;
$color-invalid: $color-pk;

/* flag */
$flag-gr: $color-green;
$flag-pk: $color-pk;

$default-color: $color-default;

//------ name spaces
$header: '.header';
$nav: '.snb-wrap';
$container: '.container';
$main: '.main';
$cont: ".contents";
$section:".section";
$article:".groupWrap";
$sub: '.sub';
$hr: '.hr';
$dep1:'.dep1';
$dep2:'.dep2';
$dep3:'.dep3';
$footer: '.footer';
$tit:'.tit';
$txt:'.txt';
$lst:".lst";
$btn: '.btn';
$tab: '.tab';
$tbl: '.tbl';
$srch:'.search';
$formLst: '.formLst';
$field: '.field';
$fmsg: '.field-msg';
$isActive:'._is-active';

//-------z-index
$zIndex-minus: -1;
$zIndex-default : 1;
$zIndex-10 : 10;
$zIndex-15 : 15;
$zIndex-20 : 20;

:root {
    --space-4xs: .4rem;
    --space-3xs: .9rem;
    --space-2xs: 1rem;
    --space-xs: 1.1rem;
    --space-sm: 1.2rem;
    --space-ms: 1.3rem;
    --space-md: 1.4rem; // default
    --space-mx: 1.8rem;
    --space-lg: 2.0rem;
    --space-xl: 2.4rem;
    --space-2xl: 2.8rem;
    --space-3xl: 3.0rem;
    --space-4xl: 4.8rem;
    --section: 37.5rem
}