@charset "utf-8";

/****************************************/
/*	Name: hyundaicard M-mall
/*	Version: 1.0
/*	Author: [써냐]BLUEWEBD™
/****************************************/

/****************************************/
/*	PART: IMPORT CSS
/****************************************/
@import 'variables';
@import 'mixin';
@import 'reset';
@import 'font';
@import 'plugin';
@import 'cp.text';
@import 'cp.button';
@import 'cp.ico';
@import 'cp.input';
@import 'cp.select';
@import 'cp.swiper';
@import 'cp.rdochk';
@import 'cp.accodion';
@import 'cp.tab';
@import 'cp.list';
@import 'cp.table';
@import 'cp.popup';

/* 버튼 */
.btn {
  &.goodsAddBtn{
    width: 100%;
    padding: 1.15rem 1.6rem;
    border-radius:5rem;
    background: $color-black;
    color:$color-white;
    font-size:1.6rem;
  }
  &.deleteBtn{
    @include display(none);
    margin:0;
  }
  &.optionBtn {
    @include display(none);
    width: 100%;
  }
  &.dragBtn {
    @include display(none);
    padding: 1rem 1.15rem;
    background: $color-violet;
    border-color: $color-violet;
  }
}

/* icon */
.ico {
  @include display(inline-block);
  word-break: keep-all;

  &-pop-close {
    width: 2.4rem; height: 2.4rem;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23666' d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' /%3E%3C/svg%3E") no-repeat;
  }
}

/* radio/input */
label {
  padding: 0.2rem;
   vertical-align: middle;
  cursor: pointer;
  input {
    margin-right: 0.5rem;
  }
}

/* 모듈 추가 박스 */
$moduel:'.module';
#{$moduel} {
  &-wrap {
    @include width;
    transition: all .15s ease;

    &._right {
      width: calc(100% - 40rem);
      margin-left: 40rem;
    }
    .md {
      .txtEdit {
        @include pos(relative);
        padding: 2.4rem;
        font-size: 1.4rem;
        color: $color-black;

        h1 {
          font-size: 2.8rem;
          font-weight: 700;
        }
        >*:not(:first-child) {
          margin-top: 1rem;
          font-weight: normal;
        }

        .fontBold {
          font-weight: 700;
        }
      }
      .imgWrap {
        .txtEdit {
          @include display(flex);
          @include flex($direction:column,  $j-content:flex-end);
          @include pos-offset-l(0,0) {z-index: 1;};
          @include el-size(100%, 100%);

          &.center {
            @include flex($direction:column, $j-content:center);
            @include align(text, center);
          }

          &.leftBottom {
            @include flex($direction:column, $j-content:flex-end, $al-items:flex-start);
            @include align(text, left);
          }

          &Bg {
            @include pos(absolute) {bottom: 0; left: 0; z-index: -1;};
            @include el-size(100%, 30%);
            background: linear-gradient(to top, $color-gray8, transparent);
          }

          .md-logo {
            @include overflow(both, hidden);
            max-width: 12.6rem; max-height: 8rem;
          }
        }
      }
    }
  }

  &-add-box {
    @include pos-offset-b(10%, auto, fixed){right:2%; z-index: 1000;}
    min-width:15rem;
    background:$color-gray2;

    .btnWrap {
      padding:.5rem;
      & > a {
        @include display(block);
        padding:.5rem 1rem;
        color:$color-gray6; text-decoration:none;
        background:$color-gray3;
        @include line(border, 1px solid $color-gray4);
        font-size:var(--space-ms);
        border-radius: .3rem;
    
        & ~ a {margin-top:.5rem;}
        &:hover {
          color:$color-gray1;
          font-weight:bold;
          background:$color-white;
        }
      }
    }
  }

  &-option {
    .btn {min-width:initial;}

    .btn ~ * {
      margin: .5rem 0 0;
    }
  }
  
  &-edit {
    @include line(border, 1px solid $color-gray8);
    max-width:var(--section); 
    width: 100%;
    margin:2rem auto;
    background: $color-gray6;
    
    .md {
      position: relative;
      @include line(outline, .3rem dashed transparent);
      background:$color-white;
      cursor: pointer;

      &.md-gap {
        min-height: 0;
        height: 10rem;
        @include pos(relative);
        @include line(outline, .1rem dashed $color-light-gray1);
        z-index:2;
        &:hover, &._is-active {
          background:$color-light-gray1;
          outline-width: .3rem;
          @include el-content(before) {
            @include width;
            @include pos-offset-l(50%, 0) {
              margin-top:-.9rem;
            }
            content:'여백조정 : 모듈의 하단 부분을 드래그 하여 높이조절';
            @include align(text, center);
            background:$color-light-gray1;
          }
        }

        & + .md-gap {
          z-index:1;
          &:hover, &._is-active {z-index:2;}
        }
      }

      &:hover, &._is-active {
        .module-option {
          @include display(block);
          @include pos-offset-l(0, -5rem){z-index:101;}
          padding: 1rem;
          background:$color-white;
          @include line(border, .1rem dashed $color-black);
        }
        .deleteBtn, .dragBtn, .optionBtn {
          @include display(block);
        }
      }
      &:hover {
        outline-color: $color-valid;
        z-index:5;
      }
      &._is-active {
        outline-color: $flag-pk;
        z-index:5;
      }

      .md-logo {
        &.no-img {
          @include line(border, 1px solid $color-pk);
        }
      }
      
      [contenteditable=true] {
        @include pos(relative);
        cursor: text;
        @include line(outline, 0);
      }

      .box-pd {
        padding: 0 2.4rem 2.4rem;
      }
/*       .alert {
        display: none;
        padding: 0.75rem 1.25rem;
        border-radius: 0.25rem;
        background-color: #fff3cd;
        font-size: 1rem;
        color: #856404;
      } */
    }
  }  

  &Wrap {
    @include display(flex);
    @include height(calc(100% - 10rem));
    padding-bottom: 10rem;

    & + .footer-btnWrap {
      z-index:101;
      @include pos-offset-b(0,0,fixed);
      @include el-size(100%, auto);
      min-width:80rem;
      background:$color-gray6;
      & > .btnWrap {
        margin-top:0; padding:1.5rem;
        @include display(flex);
        justify-content: flex-end;
        & > .btn {
          &:first-child{margin-right:calc(100% - 46rem);}
          min-width:15rem; @include align(text, center);
        }
      }
    }
  }
}


/* 상세설정 */
.option {
  &-wrap {
    overflow-y: auto;
    @include pos(fixed) {left: -40rem;top: 0;}
    width: 40rem;
    @include height(calc(100vh - 7rem));
    padding: 2rem;
    @include line(border, 1px solid $color-gray4) {border-bottom:0;}
    background-color: $color-white;
    transition: left .15s ease;

    .ico-pop-close {
      @include pos-offset-r(2rem, 2rem);
    }

    &.show {
      left: 0;
    }
  }
  &-box {
    @include display(block);
    margin-top: 4rem;

    &.goods-box{
      .goods-box-inner{
        @include display(flex);
        flex-wrap: wrap;
        gap:1.6rem;

        a{
          @include display(block);
          padding: 1.65rem;
          width: calc((100% - 3.2rem)/3);
          @include line(border, 1px solid $color-black);
          border-radius: 1.4rem;
          font-size: 1.2rem;
          @include align(text, center);
        }
      }
    }
  }
  &-tit {
    @include display(block);
    min-width: 7rem;
    margin-right: 1.5rem;
    @include align(valign, top);
  }
  &-cont {
    margin-top: 1rem;
    
    &.type-select-wrap {
      @include display(flex);
      @include flex($al-items:stretch) {gap: 1rem};
    }

    .type-select {
      @include display(flex);
      @include flex($j-content:center) {flex-grow: 1;}
      padding: 1rem;
      @include line(border, 1px solid $color-gray4);
      border-radius: 1rem;
      @include align(text, center);
    }

    .input-box, .color-selbox {
      @include display(flex);
      @include flex($j-content:space-around) {gap: 1rem};
    }
  }
}
  
/* 이미지 */
.imgWrap {
  @include pos(relative);
  img {
    @include display(block);
    width: 100%;
  }
}
.img-container{
  @include align(text, center);
  img {
    @include width;
  }
}
.no-img {
  @include display(flex);
  @include flex($direction:column, $j-content:center);
  height: 16.3rem;
  background: $color-light-gray5;
  @include align(text, center);

  @include el-content(before){
    /* background:svgIconForm(no-img, 666); */
    background: url('https://cdn.icon-icons.com/icons2/197/PNG/96/image_24009.png') no-repeat center/ cover;
    @include el-size(3.2rem, 3.2rem);
    opacity: .2;
  }
  @include el-content(after){
    content:'이미지 영역';
    margin-top:.5rem;
    font-size: 1.4rem;
    font-weight:700;
    color: #d2d5da;
  }
}

/* textEditerWrap */
.textEditerWrap {
  @include display(none);
  width: 100%;
  margin: 0 0 .5rem;
  background: $color-light-gray5;
  font-size: 1.4rem;
  font-weight: normal;
}

.edit-box {
  @include display(flex){align-items: center};
  color: #333 !important;
  .btn-edit {
    display: flex;
    position: relative;

    & ~ .btn-edit {
      margin-left: 1rem;
    }
    .edit{
      &-bold {
        padding: .5rem 1rem;
        font-weight: 700;
        border: 1px solid #000;
        border-radius: .3rem;
      }
      &-size {
        display: flex;
        align-items: center;
        padding: .4rem 1rem;
        border: 1px solid #000;
        border-radius: .3rem;

        &-input {
          margin-left: .5rem;
          width: 3rem; height: 2rem;
          border: 1px solid #000;
        }
      }

      &-color {
        position: relative;
        border-radius: .3rem;
      }
    }
  }
}

/* 동영상 */
.videoWrap {
  &.no-video {
    padding: 4.8rem 2.4rem 3.6rem;
    background: $color-light-gray5;
    color: #d2d5da;
    text-align:center;
    @include el-content(before){
      background:svgIconForm(no-video, d2d5da);
      @include el-size(3.5rem, 3.5rem); margin:auto;
    }
    @include el-content(after){
      content:'영상을 등록해주세요';
      font-weight:700;
      margin-top:2rem;
    }
  }
  video, iframe {@include el-size(100%, 100%);}
  & + .btnWrap {
    margin:0; padding: 2.4rem;
    @include align(text, center);
  }
}

/*상품추가 모달팝업*/
.modalWrap{
  .product-list{
    @include display(flex){gap: 10px;};
    & > li{
      width: calc((100% - 20px)/3)
    }
    .swiper-slide{
      @include display(block);
      img{
        width: 20rem;
      }
    }
  }
}

/* cropper 모달팝업 */
.cropModalWrap {
  .modalPop {
    width: 100%;
    &._center {
      top: 0; left: 0;
    }
    .modalWrap {
      max-width: 500px;
      @include pos(relative) {top: 50%; left: 50%; z-index: 9991;}
      transform: translate(-50%, -50%);
    }
  }

  .btnLabel {
    @include display(inline-block);
    @include pos(relative);
    padding: 1rem;
    @include line(border, 1px solid $color-blue);
    border-radius: .25rem;
    font-size: 1.4rem;
    color: $color-blue;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;

    .cropInput {
      overflow: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      clip: rect(0,0,0,0);
      white-space: nowrap;
    }

    & ~ .btn {
      margin-left: 0.5rem;
    }
  }

}

/* 이미지 칼라 추출 */
.img-color-wrap {
  @include display(block);
  margin-top: 1rem;
  #del-upload {
    @include display(inline-block);
    margin-right: 3rem;
    padding: 1rem;
    @include line(border, 1px dashed $color-gray8);
    cursor: pointer; 
  }
  .ct-img {
    @include display(inline-block);
    vertical-align: middle;
    margin: 0;
    .img-main {
      @include display(block);
      width: 100%;
      clear: both; 
      &:not([src]) {
        @include display(none);

        & + #palette {
          @include display(none);
        }
      }
    }
  }

  #palette {
    width: inherit;
    height: 40px;
    max-height: 40px;
    padding: 10px 0;
    text-align: center; 

    div {
      @include display(inline-block);
      background-color: #ddd;
      width: 20px;
      height: 20px;
      @include line(border, 1px solid $color-gray8);
      cursor: pointer;

      &+ div{ margin-left: 5px; }
    }
  }
  #canvas-main { position: absolute; }
}

/* notice/guide */
.guide-box {
  padding: 2rem;
  background-color: pink;
  word-break: break-all;

  p {
    @include el-content(before) {
      display: inline-block;
      width: 3px; height: 3px;
      margin-right: 5px; margin-top: -2px;
      border-radius: 100%;
      background-color: #000;
      vertical-align: middle;
    }

    strong {
      font-weight: bold;
    }

    & ~ p {
      margin-top: 2rem;
    }
  }
}
