@charset "utf-8";

/****************************************/
/*	Name: KBDS PMS
/*	Version: 1.0
/*	Author: [써냐]BLUEWEBD™
/****************************************/

/****************************************/
/*	PART: IMPORT CSS
/****************************************/
@import 'variables';
@import 'mixin';
@import 'reset';
@import 'font';
@import 'plugin';
@import 'cp.text';
@import 'cp.button';
@import 'cp.ico';
@import 'cp.input';
@import 'cp.select';
@import 'cp.rdochk';
@import 'cp.accodion';
@import 'cp.tab';
@import 'cp.list';
@import 'cp.table';
@import 'cp.popup';

.md-wrap{
    padding: 4.8rem;
    width: 48rem;
    box-sizing: border-box;
}

.field + .field{
    margin-top: 2.6rem;
} 