<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>버튼</title>
    
    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../com/css/cm.common.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <link rel="stylesheet" href="">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->
    <script src="../com/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../com/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->
</head>
<body>
    <div id="cp-wrap">
        <div id="cp-container">
            <h1 class="cp-tit dep01">BUTTON</h1>

            <section class="cp-content">
                <h2 class="cp-tit dep02">BUTTON : Text</h2>
                <div class="component">
                    <h3 class="cp-tit dep03">size : md</h3>
                    <div class="btnWrap">
                        <a href="#" class="btn btn-size md txt" aria-role="button">기본링크</a>
                        <a href="#" class="btn btn-size md txt uline" aria-role="button">라인링크</a>
                        <a href="#" class="btn btn-size md ico arrow" aria-role="button">링크+화살표</a>
                    </div>
                    <hr class="hr divice">
                    <h3 class="cp-tit dep03">button.btn TYPE</h3>
                    <div class="btnWrap">
                        <button class="btn btn-size md bg">기본BTN</button>
                        <button class="btn btn-size md bg type2">긍정BTN</button>
                        <button class="btn btn-size md bg type3">부정BTN</button>
                    </div>
                </div>
            </section>


            <section class="cp-content">
                <h2 class="cp-tit dep02">BUTTON : 기본형</h2>
                <div class="component">
                    <h3 class="cp-tit dep03">a.btn TYPE</h3>
                    <div class="btnWrap">
                        <a href="#" class="btn btn-size md bg" aria-role="button">기본a</a>
                        <a href="#" class="btn btn-size md bg type2" aria-role="button">긍정a</a>
                        <a href="#" class="btn btn-size md bg type3" aria-role="button">부정a</a>
                    </div>
                    <hr class="hr divice">
                    <h3 class="cp-tit dep03">button.btn TYPE</h3>
                    <div class="btnWrap">
                        <button class="btn btn-size md bg">기본BTN</button>
                        <button class="btn btn-size md bg type2">긍정BTN</button>
                        <button class="btn btn-size md bg type3">부정BTN</button>
                    </div>
                </div>
            </section>

            <section class="cp-content">
                <h2 class="cp-tit dep02">BUTTON : SHAPE / disabled</h2>
                <div class="component">
                    <h3 class="cp-tit dep03">SHAPE BTN</h3>
                    <div class="btnWrap">
                        <a href="#" class="btn btn-size md round">라운드버튼</a>
                        <a href="#" class="btn btn-size md shadow">쉐도우버튼</a>
                        <a href="#" class="btn btn-size md line">라인버튼</a>
                        
                    </div>
                    <hr class="hr divice">
                    <h3 class="cp-tit dep03">BTN : disabled</h3>
                    <div class="btnWrap">
                        <button class="btn btn-size md bg" disabled>기본BTN</button>
                        <button class="btn btn-size md bg type2" disabled>긍정BTN</button>
                        <button class="btn btn-size md bg type3" disabled>부정BTN</button>
                        
                        <a href="#" class="btn btn-size md round disabled">라운드버튼</a>
                        <a href="#" class="btn btn-size md shadow disabled">쉐도우버튼</a>
                        <a href="#" class="btn btn-size md line disabled">라인버튼</a>
                    </div>
                </div>
            </section>

            <section class="cp-content">
                <h2 class="cp-tit dep02">BUTTON : SIZE</h2>
                <div class="component">
                    <h3 class="cp-tit dep03">SIZE : XS</h3>
                    <div class="btnWrap">
                        <button class="btn btn-size xs bg type2">긍정BTN</button>
                        <button class="btn btn-size xs bg type3">부정BTN</button>
                        <a href="#" class="btn btn-size xs round">라운드버튼</a>
                        <a href="#" class="btn btn-size xs shadow">쉐도우버튼</a>
                        <a href="#" class="btn btn-size xs line">라인버튼</a>
                    </div>

                    <hr class="hr divice">

                    <h3 class="cp-tit dep03">SIZE : S</h3>
                    <div class="btnWrap">
                        <button class="btn btn-size s bg type2">긍정BTN</button>
                        <button class="btn btn-size s bg type3">부정BTN</button>
                        <a href="#" class="btn btn-size s round">라운드버튼</a>
                        <a href="#" class="btn btn-size s shadow">쉐도우버튼</a>
                        <a href="#" class="btn btn-size s line">라인버튼</a>
                    </div><hr class="hr divice">

                    <h3 class="cp-tit dep03">SIZE : 기본</h3>
                    <div class="btnWrap">
                        <button class="btn btn-size md bg type2">긍정BTN</button>
                        <button class="btn btn-size md bg type3">부정BTN</button>
                        <a href="#" class="btn btn-size md round">라운드버튼</a>
                        <a href="#" class="btn btn-size md shadow">쉐도우버튼</a>
                        <a href="#" class="btn btn-size md line">라인버튼</a>
                    </div>

                    <h3 class="cp-tit dep03">SIZE : lg</h3>
                    <div class="btnWrap">
                        <button class="btn btn-size lg bg type2">긍정BTN</button>
                        <button class="btn btn-size lg bg type3">부정BTN</button>
                        <a href="#" class="btn btn-size lg round">라운드버튼</a>
                        <a href="#" class="btn btn-size lg shadow">쉐도우버튼</a>
                        <a href="#" class="btn btn-size lg line">라인버튼</a>
                    </div>

                    <h3 class="cp-tit dep03">SIZE : big</h3>
                    <div class="btnWrap">
                        <button class="btn btn-size xl bg type2">긍정BTN</button>
                        <button class="btn btn-size xl bg type3">부정BTN</button>
                        <a href="#" class="btn btn-size xl round">라운드버튼</a>
                        <a href="#" class="btn btn-size xl shadow">쉐도우버튼</a>
                        <a href="#" class="btn btn-size xl line">라인버튼</a>
                    </div>
                </div>
                <div class="codeview"></div>
            </section>

            <section class="cp-content">
                <h2 class="cp-tit dep02">BUTTON : Mix</h2>
                <div class="component">
                    <h3 class="cp-tit dep03">BTN split / grow</h3>
                    <div class="btnWrap grow">
                        <button class="btn btn-size md bg">기본BTN</button>
                        <button class="btn btn-size md bg type2">긍정BTN</button>
                        <button class="btn btn-size md bg type3">부정BTN</button>
                        <button class="btn btn-size md bg line full">부정BTN</button>
                        
                    </div>
                    <h3 class="cp-tit dep03">BTN full / 2분할</h3>
                    <div class="btnWrap grow full">
                        <button class="btn btn-size md bg">기본BTN</button>
                        <button class="btn btn-size md bg type2">긍정BTN</button>
                        
                    </div>
                    <hr class="hr divice">
                    <h3 class="cp-tit dep03">BTN full / group</h3>
                    <div class="btnWrap full">
                        <a href="#" class="btn btn-size md bg" aria-role="button">기본a</a>
                        <a href="#" class="btn btn-size md bg type2" aria-role="button">긍정a</a>
                        <a href="#" class="btn btn-size md bg type3" aria-role="button">부정a</a>
                    </div>
                    <hr class="hr divice">

                    <h3 class="cp-tit dep03">BTN full / el</h3>
                    <div class="btnWrap">
                        <a href="#" class="btn btn-size md bg full" aria-role="button">기본a</a>
                        <a href="#" class="btn btn-size md bg type2 full" aria-role="button">긍정a</a>
                        <a href="#" class="btn btn-size md bg type3 full" aria-role="button">부정a</a>
                    </div>
                </div>
            </section>


        </div>
    </div>
</body>
</html>