
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>팝업/알럿/토스트</title>
    
    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../com/css/cm.common.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <link rel="stylesheet" href="">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->
    <script src="../com/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../com/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->
</head>
<body>
    <div id="cp-wrap">
        <div id="cp-container">
            <h1 class="cp-tit dep01">팝업/툴팁</h1>

            <section class="cp-content">
                <h2 class="cp-tit dep02">POPUP</h2>

                <div class="btnWrap">
                    <button class="btn btn-size md bg _modalBtn" data-modal="modal1">Top Modal</button>
                    <button class="btn btn-size md bg _modalBtn" data-modal="modal2">Center Modal</button>
                    <button class="btn btn-size md bg _modalBtn" data-modal="modal3">Left Modal</button>
                    <button class="btn btn-size md bg _modalBtn" data-modal="modal4">Bottom Modal</button>
                    <button class="btn btn-size md bg _toastBtn" data-toast="토스트 팝업메세지를 출력" >토스트팝업</button>
                </div>

                <div class="modalPop _top" modal-target="modal1">
                    <div class="modalWrap">
                        <div class="modal-header">
                            <a href="#" class="ico ico-his-prev" role="button"><span class="hide">이전페이지</span></a>
                            <h1 class="mp-title dep01">Top Modal</h1>
                            <a href="#" class="btn-close-pop ico ico-pop-close" role="button"><span class="hide">창닫기</span></a>
                        </div>
                        <div class="modal-container"><p>Top Modal Content</p></div>
                        <div class="modal-footer">
                            <div class="btnWrap grow">
                                <button class="btn btn-size md type2 bg">확인</button>
                                <button class="btn btn-size md bg btn-close-pop">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="modalPop _center" modal-target="modal2">
                    <div class="modalWrap">
                        <div class="modal-header">
                            <!-- <a href="#" class="ico ico-his-prev" role="button"><span class="hide">이전페이지</span></a> -->
                            <h1 class="mp-title dep01">Center Modal</h1>
                            <a href="#" class="btn-close-pop ico ico-pop-close" role="button"><span class="hide">창닫기</span></a>
                        </div>
                        <div class="modal-container"><p>Center Modal Content</p></div>
                        <div class="modal-footer">
                          <div class="btnWrap grow">
                              <button class="btn btn-size md type2 bg">확인</button>
                              <button class="btn btn-size md bg btn-close-pop">취소</button>
                          </div>
                      </div>
                    </div>
                </div>
            
                <div class="modalPop _left" modal-target="modal3">
                    <div class="modalWrap">
                        <div class="modal-header">
                            <a href="#" class="ico ico-his-prev" role="button"><span class="hide">이전페이지</span></a>
                            <h1 class="mp-title dep01">Left Modal</h1>
                            <a href="#" class="btn-close-pop ico ico-pop-close" role="button"><span class="hide">창닫기</span></a>
                        </div>
                        <div class="modal-container"><p>Left Modal Content</p></div>
                        <div class="modal-footer">
                            <div class="btnWrap grow">
                                <button class="btn btn-size md type2 bg">확인</button>
                                <button class="btn btn-size md bg btn-close-pop">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="modalPop _bottom" modal-target="modal4">
                    <div class="modalWrap">
                        <div class="modal-header">
                            <!-- <a href="#" class="ico ico-his-prev" role="button"><span class="hide">이전페이지</span></a> -->
                            <h1 class="mp-title dep01">Bottom Modal</h1>
                            <a href="#" class="btn-close-pop ico ico-pop-close" role="button"><span class="hide">창닫기</span></a>
                        </div>
                        <div class="modal-container"><p style="height:1000px; background:yellow">Bottom Modal Content</p></div>
                        <div class="modal-footer">
                            <div class="btnWrap grow">
                                <button class="btn btn-size md type2 bg">확인</button>
                                <button class="btn btn-size md bg btn-close-pop">취소</button>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="cp-content">
              <h2 class="cp-tit dep02">TOOLTIP</h2>
              <div class="tooltipWrap">
                기본형
                <a href="javascript:;" class="ico ico-tooltip"
                  aria-role="button"
                  data-focus="false"
                  data-direction="default"
                  data-message="ToolTip Default :<br><br> 일이삼사오육칠팔구십일이삼사오<br>ToolTip message"
                  data-toggle="tooltip">
                  <span class="hide">툴팁</span>
                </a>
              </div>
              <div class="tooltipWrap">
                기본형 가운데 가운데가운데가운데
                <a href="javascript:;" class="ico ico-tooltip"
                  aria-role="button"
                  data-focus="false"
                  data-direction="default"
                  data-message="ToolTip message : Default <br> ToolTip message <br> ToolTip message"
                  data-toggle="tooltip">
                  <span class="hide">툴팁</span>
                </a>
              </div>
              <div class="tooltipWrap">
                기본형 텍스트 길다 기본형 텍스트 길다 기본형 텍스트 길다
                <a href="javascript:;" class="ico ico-tooltip"
                  aria-role="button"
                  data-focus="false"
                  data-direction="default"
                  data-message="ToolTip message : Default <br> ToolTip message <br> ToolTip message"
                  data-toggle="tooltip">
                  <span class="hide">툴팁</span>
                </a>
              </div>
              
              <hr style="height: 1px; margin: 2rem 0; border:0; border-top: 1px solid #666;">

              <div class="tooltipWrap r">
                <a href="javascript:;" class="ico ico-tooltip" aria-role="button"
                  data-focus="false"
                  data-direction="left"
                  data-message="ToolTip message : LEFT <br> ToolTip message <br> ToolTip message"
                  data-toggle="tooltip">
                  <span class="hide">툴팁</span>
                </a>
                왼쪽형
              </div>
              <div class="tooltipWrap c">
                <a href="javascript:;" class="ico ico-tooltip" aria-role="button"
                  data-focus="false"
                  data-direction="left"
                  data-message="ToolTip message : LEFT <br> ToolTip message <br> ToolTip message"
                  data-toggle="tooltip">
                  <span class="hide">툴팁</span>
                </a>
                센터센터
              </div>
              <div class="tooltipWrap r">
                <a href="javascript:;" class="ico ico-tooltip" aria-role="button"
                  data-focus="false"
                  data-direction="left"
                  data-message="ToolTip message : LEFT <br> ToolTip message <br> ToolTip message"
                  data-toggle="tooltip">
                  <span class="hide">툴팁</span>
                </a> 
                아이콘 왼쪽, 텍스트가 매우매우매우매우매우매우매우매우매우매우매우 길 경우
              </div>
              
              <hr style="height: 1px; margin: 2rem 0; border:0; border-top: 1px solid #666;">

              <div class="tooltipWrap">
                위로
                <a href="javascript:;" class="ico ico-tooltip" aria-role="button"
                  data-focus="false"
                  data-direction="top"
                  data-message="ToolTip message : TOP <br> ToolTip message <br> ToolTip message"
                  data-toggle="tooltip">
                  <span class="hide">툴팁</span>
                </a>
              </div>
              <div class="tooltipWrap c">
                위로 c
                <a href="javascript:;" class="ico ico-tooltip" aria-role="button"
                  data-focus="false"
                  data-direction="top"
                  data-message="ToolTip message : TOP <br> ToolTip message <br> ToolTip message"
                  data-toggle="tooltip">
                  <span class="hide">툴팁</span>
                </a>
              </div>
              <div class="tooltipWrap r">
                <a href="javascript:;" class="ico ico-tooltip" aria-role="button"
                  data-focus="false"
                  data-direction="top"
                  data-message="ToolTip message : TOP <br> ToolTip message <br> ToolTip message"
                  data-toggle="tooltip">
                  <span class="hide">툴팁</span>
                </a>
                위로 r
              </div>

              <hr style="height: 1px; margin: 2rem 0; border:0; border-top: 1px solid #666;">

              <div class="tooltipWrap">
                아래로
                <a href="javascript:;" class="ico ico-tooltip" aria-role="button"
                  data-focus="false"
                  data-direction="bottom"
                  data-message="ToolTip message : BOTTOM <br> ToolTip message <br> ToolTip message"
                  data-toggle="tooltip">
                  <span class="hide">툴팁</span>
                </a>
              </div>
              
              <div class="tooltipWrap c">
                아래로 c
                <a href="javascript:;" class="ico ico-tooltip" aria-role="button"
                  data-focus="false"
                  data-direction="bottom"
                  data-message="ToolTip message : BOTTOM <br> ToolTip message <br> ToolTip message"
                  data-toggle="tooltip">
                  <span class="hide">툴팁</span>
                </a>
              </div>
              
              <div class="tooltipWrap r">
                <a href="javascript:;" class="ico ico-tooltip" aria-role="button"
                  data-focus="false"
                  data-direction="bottom"
                  data-message="ToolTip message : BOTTOM <br> ToolTip message <br> ToolTip message"
                  data-toggle="tooltip">
                  <span class="hide">툴팁</span>
                </a>
                아래로 r
              </div>
            </section>



        </div>
    </div>

<!-- [S] PAGES - SCRIPT -->
<script src="./../com/js/ui.component.js"></script>
<!-- [E] PAGES - SCRIPT -->
</body>
</html>