<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>폼요소 : Radio / Checkbox</title>
    
    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../com/css/cm.common.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <link rel="stylesheet" href="">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->
    <script src="../com/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../com/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->
</head>
<body>
    <div id="cp-wrap">
        <div id="cp-container">
            <h1 class="cp-tit dep01">라디오/체크박스</h1>

            <section class="cp-content">
              <h2 class="cp-tit dep02">Checkbox</h2>
              <div class="field">
                  <h3 class="field-label">Circle</h3>
                  <div class="field-group">
                    <label class="field-checkbox">
                      <input type="checkbox">
                      <i class="field-icon"></i>
                      <span class="field-label">미체크</span>
                    </label>
                    <label class="field-checkbox">
                      <input type="checkbox" checked="checked">
                      <i class="field-icon"></i>
                      <span class="field-label">체크</span>
                    </label>
                    <label class="field-checkbox">
                      <input type="checkbox" readonly="readonly">
                      <i class="field-icon"></i>
                      <span class="field-label">readonly</span>
                    </label>
                    <label class="field-checkbox">
                      <input type="checkbox" disabled="disabled">
                      <i class="field-icon"></i>
                      <span class="field-label">disabled</span>
                    </label>
                  </div>
                </div>

                <div class="field c-line">
                  <h3 class="field-label">Circle line</h3>
                  <div class="field-group">
                    <label class="field-checkbox c-line">
                      <input type="checkbox">
                      <i class="field-icon"></i>
                      <span class="field-label">미체크</span>
                    </label>
                    <label class="field-checkbox c-line-lg">
                      <input type="checkbox">
                      <i class="field-icon"></i>
                      <span class="field-label">미체크</span>
                    </label>
                    <label class="field-checkbox c-line">
                      <input type="checkbox" checked="checked">
                      <i class="field-icon"></i>
                      <span class="field-label">체크</span>
                    </label>
                    <label class="field-checkbox c-line">
                      <input type="checkbox" readonly="readonly">
                      <i class="field-icon"></i>
                      <span class="field-label">readonly</span>
                    </label>
                    <label class="field-checkbox c-line">
                      <input type="checkbox" disabled="disabled">
                      <i class="field-icon"></i>
                      <span class="field-label">disabled</span>
                    </label>
                  </div>
                </div>

                <div class="field square">
                  <h3 class="field-label">Square</h3>
                  <div class="field-group">
                    <label class="field-checkbox square">
                      <input type="checkbox">
                      <i class="field-icon"></i>
                      <span class="field-label">미체크</span>
                    </label>
                    <label class="field-checkbox square">
                      <input type="checkbox" checked="checked">
                      <i class="field-icon"></i>
                      <span class="field-label">체크</span>
                    </label>
                    <label class="field-checkbox square">
                      <input type="checkbox" readonly="readonly">
                      <i class="field-icon"></i>
                      <span class="field-label">readonly</span>
                    </label>
                    <label class="field-checkbox square">
                      <input type="checkbox" disabled="disabled">
                      <i class="field-icon"></i>
                      <span class="field-label">disabled</span>
                    </label>
                  </div>
                </div>
                                
                <div class="field s-line">
                  <h3 class="field-label">Square line</h3>
                  <div class="field-group">
                    <label class="field-checkbox s-line">
                      <input type="checkbox">
                      <i class="field-icon"></i>
                      <span class="field-label">미체크</span>
                    </label>
                    <label class="field-checkbox s-line-lg">
                      <input type="checkbox">
                      <i class="field-icon"></i>
                      <span class="field-label">미체크</span>
                    </label>
                    <label class="field-checkbox s-line">
                      <input type="checkbox" checked="checked">
                      <i class="field-icon"></i>
                      <span class="field-label">체크</span>
                    </label>
                    <label class="field-checkbox s-line">
                      <input type="checkbox" readonly="readonly">
                      <i class="field-icon"></i>
                      <span class="field-label">readonly</span>
                    </label>
                    <label class="field-checkbox s-line">
                      <input type="checkbox" disabled="disabled">
                      <i class="field-icon"></i>
                      <span class="field-label">disabled</span>
                    </label>
                  </div>
                </div>

                <div class="field">
                  <h3 class="field-label">Switch</h3>
                  <div class="field-group">
                    <label class="field-switch">
                      <input type="checkbox" name="switch">
                      <i class="field-icon"></i>
                    </label>
                    
                    <label class="field-switch txt">
                      <input type="checkbox" name="switch">
                      <i class="field-icon"></i>
                    </label>
                    
                    <label class="field-switch lg">
                      <input type="checkbox" name="switch">
                      <i class="field-icon"></i>
                    </label>

                    <label class="field-switch">
                      <input type="checkbox" name="switch" readonly="readonly" checked="checked">
                      <i class="field-icon"></i>
                    </label>

                    <label class="field-switch">
                      <input type="checkbox" name="switch" disabled="disabled">
                      <i class="field-icon"></i>
                    </label>
                  </div>
                </div>

                <div class="field">
                  <h3 class="field-label">Box</h3>
                  <div class="field-group textBox">
                    <label class="field-checkbox">
                      <input type="checkbox">
                      <span class="field-label">08<br>미체크</span>
                    </label>
                    <label class="field-checkbox">
                      <input type="checkbox" checked="checked">
                      <span class="field-label">09<br>체크</span>
                    </label>
                    <label class="field-checkbox">
                      <input type="checkbox" readonly="readonly">
                      <span class="field-label">10<br>readonly</span>
                    </label>
                    <label class="field-checkbox">
                      <input type="checkbox" disabled="disabled">
                      <span class="field-label">11<br>disabled</span>
                    </label>
                  </div>
        
                </div>
            </section>

            <section class="cp-content">
              <h2 class="cp-tit dep02">Radio</h2>
              <div class="field">
                  <h3 class="field-label">Circle</h3>
                  <div class="field-group">
                    <label class="field-radio">
                      <input type="radio" name="rdoGroup">
                      <i class="field-icon"></i>
                      <span class="field-label">미체크</span>
                    </label>
                    <label class="field-radio">
                      <input type="radio" name="rdoGroup" checked="checked">
                      <i class="field-icon"></i>
                      <span class="field-label">체크</span>
                    </label>
                    <label class="field-radio">
                      <input type="radio" name="rdoGroup" readonly="readonly">
                      <i class="field-icon"></i>
                      <span class="field-label">readonly</span>
                    </label>
                    <label class="field-radio">
                      <input type="radio" name="rdoGroup" disabled="disabled">
                      <i class="field-icon"></i>
                      <span class="field-label">disabled</span>
                    </label>
                  </div>
                </div>

                <div class="field">
                  <h3 class="field-label">BOX</h3>
                  <div class="field-group opt-box">
                    <label class="field-radio">
                      <input type="radio" name="optBox">
                      <span class="field-label">옵션1</span>
                    </label>
                    <label class="field-radio">
                      <input type="radio" name="optBox">
                      <span class="field-label">옵션2</span>
                    </label>
                    <label class="field-radio">
                      <input type="radio" name="optBox">
                      <span class="field-label">옵션3</span>
                    </label>
                  </div>
                  <div class="field-group opt-box chk">
                    <label class="field-checkbox">
                      <input type="radio" name="optBox2">
                      <!-- <i class="field-ico-chk" style="position:absolute; top:1rem; left:50%; z-index: 2;">1</i> -->
                      <i class="field-icon"></i>
                      <span class="field-label">옵션1</span>
                    </label>
                    <label class="field-checkbox">
                      <input type="radio" name="optBox2">
                      <i class="field-icon"></i>
                      <span class="field-label">옵션2</span>
                    </label>
                    <label class="field-checkbox">
                      <input type="radio" name="optBox2">
                      <i class="field-icon"></i>
                      <span class="field-label">옵션3</span>
                    </label>
                  </div>
                  <div class="field-group textBox">
                    <label class="field-radio">
                      <input type="radio" name="txtRdo">
                      <span class="field-label">
                        <i class="field-icon"></i>
                        미체크
                      </span>
                    </label>
                    <label class="field-radio">
                      <input type="radio" name="txtRdo" checked="checked">
                      <span class="field-label">
                        <i class="field-icon"></i>
                        미체크
                      </span>
                    </label>
                    <label class="field-radio">
                      <input type="radio" name="txtRdo" readonly="readonly">
                      <span class="field-label">
                        <i class="field-icon"></i>
                        readonly
                      </span>
                    </label>
                    <label class="field-radio">
                      <input type="radio" name="txtRdo" disabled="disabled">
                      <span class="field-label">
                        <i class="field-icon"></i>
                        disabled
                      </span>
                    </label>
                  </div>
                </div>

            </section>

        </div>
    </div>

<!-- [S] PAGES - SCRIPT -->
<script src="./../com/js/ui.component.js"></script>
<!-- [E] PAGES - SCRIPT -->
</body>
</html>