<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>타이틀/텍스트/리스트</title>
    
    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../com/css/cm.common.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <link rel="stylesheet" href="">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->
    <script src="../com/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../com/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->
</head>
<body>
    <div id="cp-wrap">
        <div id="cp-container">
            <h1 class="cp-tit dep01">TITLE / TEXT / LIST</h1>

            <section class="cp-content">
                <h2 class="cp-tit dep02">TITLE : 기본형 , #333</h2>
                <div class="component">
                    <h1 class="tit dep01">1depth : 22px</h1>
                    <h2 class="tit dep02">2depth : 18px</h2>
                    <h3 class="tit dep03">3depth : 16px</h3>
                    <h4 class="tit dep04">4depth : 13px</h4>
                    <h5 class="tit dep05">5depth : 12px</h5>
                </div>
                <div class="codeview"></div>
            </section>

            <section class="cp-content">
                <h2 class="cp-tit dep02">TITLE : 예외</h2>
                <div class="component">
                    <h1 class="tit dep01">1depth : 22px</h1>
                    <h2 class="tit dep02 type2">2depth : 18px, #2f65ee</h2>
                    <h2 class="tit dep02"><span class="uline">2depth : 18px, line bg</span></h2>
                </div>
                <div class="codeview"></div>
            </section>

            <section class="cp-content">
                <h2 class="cp-tit dep02">TITLE : 응용</h2>
                <div class="component">
                    <div class="hgroup split">
                        <h2 class="tit dep02">2depth + 버튼</h2>
                        <div class="col">
                            <a href="#" class="btn btn-size bg s">버튼명1</a>
                            <a href="#" class="btn btn-size bg s disabled" aria-disabled="disabled">버튼명2</a>
                        </div>
                    </div>

                    <hr class="hr divice" aria-hidden="true">

                    <div class="hgroup split">
                        <h2 class="tit dep02">2depth + 버튼</h2>
                        <div class="col">
                            <a href="#" class="btn btn-size s txt">버튼명1</a>
                            <a href="#" class="btn btn-size s txt disabled" aria-disabled="disabled">버튼명2</a>
                        </div>
                    </div>

                    <hr class="hr divice" aria-hidden="true">

                    <div class="hgroup split">
                        <h2 class="tit dep02">2depth + 기준텍스트</h2>
                        <div class="col">
                            <span class="cmt">(단위 : 천원)</span>
                        </div>
                    </div>

                    <hr class="hr divice" aria-hidden="true">                    

                    <h2 class="tit dep02">
                        <p class="tit sub">2depth 서브타이틀</p>
                        2depth 메인타이틀
                    </h2>

                    <hr class="hr divice" aria-hidden="true">
                    
                    <h2 class="tit dep02">                        
                        2depth 메인타이틀
                        <p class="headcopy">
                        청춘의 예수는 인간의 것은 봄바람이다. 생명을 것은 없으면 되려니와, 것은 아름다우냐? 대중을 위하여, 힘차게 이것이다.</p>
                    </h2>
                </div>
                <div class="codeview"></div>
            </section>

            <section class="cp-content">
                <h2 class="cp-tit dep02">TEXT</h2>
                <div class="component">
                    <p class="txt">보이는 설레는 같이, 동산에는 발휘하기 이상은 구하지 것은 보라. 풍부하게 이상을 구하지 위하여, 가지에 사랑의 있으랴? 있는 끓는 모래뿐일 무엇을 살았으며, 열락의 이상의 부패뿐이다. 보내는 봄날의 사라지지 불어 것이다.<br>
                    이는 주는 동력은 이상 보이는 봄바람이다. 불어 보배를 대중을 가지에 자신과 그들은 위하여 쓸쓸하랴? 그것은 같이 희망의 있는가?<br>
                    청춘의 예수는 인간의 것은 봄바람이다. 생명을 것은 없으면 되려니와, 것은 아름다우냐? 대중을 위하여, 힘차게 이것이다.</p>

                    <p data-lang="en" lang="en" class="txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta ratione dolore saepe debitis consectetur ad veritatis inventore placeat, esse ab et blanditiis, dolor ex numquam! Nihil praesentium quae eos quidem.</p>
                </div>
                <div class="codeview"></div>
            </section>

            <section class="cp-content">
                <h2 class="cp-tit dep02">TEXT : ellipsis</h2>
                <div class="component">
                    <p class="txt txt-elp1">ellipsis - Line1 : 보이는 설레는 같이, 동산에는 발휘하기 이상은 구하지 것은 보라. 풍부하게 이상을 구하지 위하여, 가지에 사랑의 있으랴? 있는 끓는 모래뿐일 무엇을 살았으며, 열락의 이상의 부패뿐이다. 보내는 봄날의 사라지지 불어 것이다.</p>

                    <p class="txt txt-elp2">ellipsis - Line2 : 보이는 설레는 같이, 동산에는 발휘하기 이상은 구하지 것은 보라. 풍부하게 이상을 구하지 위하여, 가지에 사랑의 있으랴? 있는 끓는 모래뿐일 무엇을 살았으며, 열락의 이상의 부패뿐이다. 보내는 봄날의 사라지지 불어 것이다.</p>
                    
                    <p class="txt txt-elp3">ellipsis - Line3 : 보이는 설레는 같이, 동산에는 발휘하기 이상은 구하지 것은 보라. 풍부하게 이상을 구하지 위하여, 가지에 사랑의 있으랴? 있는 끓는 모래뿐일 무엇을 살았으며, 열락의 이상의 부패뿐이다. 보내는 봄날의 사라지지 불어 것이다.</p>
                </div>
                <div class="codeview"></div>
            </section>

            <section class="cp-content">
                <h2 class="cp-tit dep02">LIST</h2>
                <p class="tit01">타이틀 스타일1 .tit01</p>
                <p class="tit02">타이틀 스타일2 .tit02</p>
                <p class="tit03">타이틀 스타일3 .tit03</p>
                <p class="tit04">타이틀 스타일4 .tit04</p>
                <p class="tit05">타이틀 스타일5 .tit05</p>

                <ul class="list01">
                    <li>리스트 스타일 .list01</li>
                    <li>리스트 스타일 .list01
                        <ul>
                            <li>리스트 SUB 스타일</li>
                            <li>리스트 스타일</li>
                        </ul>
                    </li>
                </ul>
                <ul class="list01">
                    <li><span class="tit">제목</span>ul 리스트 스타일 변형 .list01 .tit</li>
                    <li><span class="tit">제목</span>ul 리스트 스타일 변형 .list01 .tit
                        <ul>
                            <li>리스트 SUB 스타일</li>
                            <li>리스트 스타일</li>
                        </ul>
                    </li>
                </ul>
                <ol class="list02">
                    <li>숫자리스트 스타일 .list02</li>
                    <li>숫자리스트 스타일 .list02
                        <ol class="circle-num">
                            <li>라운드 숫자리스트 .circle-num</li>
                            <li>라운드 숫자리스트 .circle-num</li>
                            <li>라운드 숫자리스트 .circle-num</li>
                        </ol>
                    </li>
                    <li>숫자리스트 스타일 .list02</li>
                    <li>숫자리스트 스타일 .list02</li>
                    <li>숫자리스트 스타일 .list02</li>
                </ol>

                <ol class="step step-box">
                    <li>리스트스타일 .step</li>
                    <li>리스트스타일 .step
                        <ul class="bul">
                            <li>리스트 SUB 스타일 .bul</li>
                            <li>리스트 스타일 .bul</li>
                            <li>리스트 스타일 .bul</li>
                        </ul>
                    </li>
                    <li>리스트스타일 .step</li>
                    <li>리스트스타일 .step</li>
                </ol>
            </section>

        </div>
    </div>
</body>
</html>