$wgFontUrl:'../font/';


@font-face {
    font-family: 'iconFont';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url($wgFontUrl + "iconfont/fontawesome/fa-solid-900.eot");
    src: url($wgFontUrl + "iconfont/fontawesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url($wgFontUrl + "iconfont/fontawesome/fa-solid-900.woff2") format("woff2"), url($wgFontUrl + "iconfont/fontawesome/fa-solid-900.woff") format("woff"), url($wgFontUrl + "iconfont/fontawesome/fa-solid-900.ttf") format("truetype"), url($wgFontUrl + "iconfont/fontawesome/fa-solid-900.svg#fontawesome") format("svg"); }
  
  .fa,
  .fas {
    font-family: 'iconFont';
    font-weight: 900; }

    @font-face {
      font-family: 'iconFont';
      font-display: block;
      src: url($wgFontUrl + "iconfont/fontawesome/fa-solid-900.woff2") format("woff2"), url($wgFontUrl + "iconfont/fontawesome/fa-solid-900.ttf") format("truetype"); }
  
  @font-face {
    font-family: 'roboto';
    src: url($wgFontUrl + 'webfonts/Roboto-Light.woff') format('woff');
    src: url($wgFontUrl + 'webfonts/Roboto-Light.woff2');
    src: url($wgFontUrl + 'webfonts/Roboto-Light.otf');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'roboto';
    src: url($wgFontUrl + 'webfonts/Roboto-Regular.woff') format('woff');
    src: url($wgFontUrl + 'webfonts/Roboto-Regular.woff2');
    src: url($wgFontUrl + 'webfonts/Roboto-Regular.otf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'roboto';
    src: url($wgFontUrl + 'webfonts/Roboto-Medium.woff') format('woff');
    src: url($wgFontUrl + 'webfonts/Roboto-Medium.woff2');
    src: url($wgFontUrl + 'webfonts/Roboto-Medium.otf');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'roboto';
    src: url($wgFontUrl + 'webfonts/Roboto-Bold.woff') format('woff');
    src: url($wgFontUrl + 'webfonts/Roboto-Bold.woff2');
    src: url($wgFontUrl + 'webfonts/Roboto-Bold.otf');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 300;
    src: url($wgFontUrl + "webfonts/NotoSansKR-Light.woff");
    src: url($wgFontUrl + "webfonts/NotoSansKR-Light.otf");
  }
  
  @font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: url($wgFontUrl + "webfonts/NotoSansKR-Regular.eot");
    src: url($wgFontUrl + "webfonts/NotoSansKR-Regular.woff");
    src: url($wgFontUrl + "webfonts/NotoSansKR-Regular.otf");
  }
  
  @font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 600;
    src: url($wgFontUrl + "webfonts/NotoSansKR-Bold.woff");
    src: url($wgFontUrl + "webfonts/NotoSansKR-Bold.otf");
  }